[2017-11-11 20:07] wakaleo commented on #1021
This is a question on Gherkin style, rather than a Serenity bug, so StackOverflow would be a better channel. Neither of these is really written the way BDD scenarios are intended to be written. BDD scenarios are living documentation, so much more declarative than imperative, so expressions like "set the employee search request data" and "verify the response" read very oddly. A more BDD-style emplo

[2017-11-11 20:07] #1021 closed

[2017-11-11 20:48] IlyasPatel commented on #1005
It looks like those two errors have stopped but I still get another freemarker error:

Failed to merge template: Parsing error in template

Caused by: freemarker.core.ParseException: Syntax error in template "freemarker/results-by-tagtype.ftl" in line 55, column 83:
Encountered "/", but was expecting one of:
    <STRING_LITERAL>
    <RAW_STRING>
    "false"
    "true"
    <INTEGER>
    <DECIMAL>

[2017-11-11 21:52] wakaleo commented on #1005
I can't reproduce this at all.

[2017-11-12 08:17] wakaleo commented on #1005
Could you provide a sample project that reproduces this issue? It doesn't seem to be happening on the demo or smoke test projects.

[2017-11-12 10:45] volnoboy commented on #1016
First of all, you wrote @Skip with capital S and it does not work, only with small letter works.

I didn't figure out how to do stack dump, but I found the reason. It executes all code even within PageObject.
I have a custom method to click multiple times and it is slow because of this method:
It is going inside catch clause and executes loop all 20 times. This is definitely should not be happenin

[2017-11-12 12:52] wakaleo commented on #1016
Code that is not wrapped in a @Step method will be called normally. Serenity expects your step definition method to be delegating to @Step methods rather than calling UI logic directly. It looks like you are invoking this method directly from the JBehave step definitions, and not via a @Step-annotated method in a step library that represents your business tasks (which is the recommended layered ar

[2017-11-12 13:04] volnoboy commented on #1016
I have 3 layers in my test application.
1. Jbehave methods with @When annotation.
2. Serenity Steps layer, **where every method has @Step annotation**
3. Page Object layer.

This method, that takes too long, is in Page Object layer and is inside @Step annotated method.

Our application is angular 4, lots of ajax. Unfortunately, Serenity waits are not working for us.

I will try to update to  1.7.4

[2017-11-12 15:47] volnoboy commented on #1016
Thanks, looks fixed in 1.7.4. But I get an exception when using openAt() method of PageObject class:

[pool-1-thread-1] ERROR net.serenitybdd.core.pages.PageObject - Failed to analyse default page URL: Starting URL: "_MY_URL_", Base URL:"_MY_BASE_URL_"
[pool-1-thread-1] ERROR net.serenitybdd.core.pages.PageObject - URL analysis failed with exception:
java.net.MalformedURLException: no protocol:  "

[2017-11-12 15:50] wakaleo commented on #1016
Can you post the code for your page object?

[2017-11-12 15:58] volnoboy commented on #1016
In my class that extends ScenarioSteps I have a method:

[code]

[2017-11-12 16:01] volnoboy commented on #1016
I just changed:
factoryDetailsPage.openAt("_my_url_");
to:
getDriver().get(_my_url_);

Looks like exception is gone

[2017-11-12 16:11] wakaleo commented on #1016
"MY_URL" and "MY_BASE_URL" might be defined in your code or serenity.properties file. Do you have a @DefaultUrl defined for this Page Object?

[2017-11-12 16:12] narottamgla commented on #1019
Thanks @wakaleo for your help and it was maven issue only.

[2017-11-12 16:13] volnoboy commented on #1016
Only in serenity.properties file, this Page Object has no @defaulturl defined.

[2017-11-12 16:21] wakaleo commented on #1016
What is the content of your serenity.properties file?

[2017-11-12 16:22] volnoboy commented on #1016
webdriver.driver=chrome
webdriver.remote.driver=chrome
serenity.console.colors=true
webdriver.chrome.driver=chromedriver.exe
webdriver.ie.driver=IEDriverServer.exe
webdriver.edge.driver=MicrosoftWebDriver.exe
webdriver.base.url=MY_URL
serenity.project.name=CrediFi Automation
webdriver.timeouts.implicitlywait=5000
serenity.take.screenshots=AFTER_EACH_STEP
serenity.restart.browser.for.each=STORY
sto

[2017-11-12 16:29] wakaleo commented on #1016
webdriver.base.url is the URL used when you open page objects, based on the default URL. You place the URL of each page in the @DefaultURL, you can use the open() method. If you use the openAt() method, the URL will be calculated relative to the base url. If you are not using the @DefaultURL annotation, getDriver().get(my_url) should be sufficient.

[2017-11-12 16:30] volnoboy commented on #1016
Ok, Thank you.

[2017-11-12 16:31] wakaleo commented on #1019
Thanks for the update.

[2017-11-12 16:31] #1019 closed

[2017-11-13 10:43] mmanach opened #1023 "junit xml generated by gradle task : still issue"
hello @wakaleo

- Serenity version : 1.7.0
- Serenity gradle : 1.7.0
- Serenity jbehave : 1.33

Regarding this one : https://github.com/serenity-bdd/serenity-core/issues/1008
There is still an issue with the generation of the junit xml :

- When a test failed, the TEST-Scenario-StoryName.xml is not generated

You can see it on the screen :

![bad junit xml files](https://user-images.githubusercont

[2017-11-13 10:52] wakaleo commented on #1023
I can't reproduce this issue, and won't have time to look at it in detail for a while. Have a look at the JUnitXMLOutcomeReporter and JUnitXMLConverter and see if anything odd is going on there, and submit a PR if you find anything.

[2017-11-13 12:05] deepthi-ravindra opened #1024 "Errors with report generation"
Feature: Sort Search Resultjava.lang.ArrayIndexOutOfBoundsException: -1
at java.util.ArrayList.elementData(ArrayList.java:418)
at java.util.ArrayList.get(ArrayList.java:431)
at net.thucydides.core.model.TestOutcome.lastStepIn(TestOutcome.java:1336)
at net.thucydides.core.model.TestOutcome.currentStep(TestOutcome.java:1319)
at net.thucydides.core.model.TestOutcome.startGroup(TestOutcome.java:1296)

[2017-11-13 12:30] ankitlodha opened #1025 "Need to generate result in different format"
Hi,

I need to generate result in different format. Need snapshots of executed testcases in individual folders instead of snapshots of entire execution in single folder. As later we need to attach these snapshot in QC against test cases. Can we tweak code to create folders at the result location and then place individual test cases snapshots there. Please suggest.

[2017-11-13 12:36] wakaleo commented on #1025
You would need to write a custom reporter. This is a question, not a bug, so the GitHub is not an appropriate forum for this sort of query. Please ask on StackOverflow with the #serenitybdd tag, or on RocketChat (https://serenity-bdd.rocket.chat)

[2017-11-13 12:36] wakaleo commented on #1024
Unable to reproduce, we will need a sample project to investigate.

[2017-11-13 12:52] cliviu commented on #993
hi @dbirch-cognitoiq , can you please provide a small test program to reproduce the problem ? A test apk will also be very appreciated. Thanks !

[2017-11-13 12:53] deepthi-ravindra commented on #1024
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.officedepot</groupId>
    <artifactId>od-qa-automation</artifactId>
    <version>1.0</version>
    <name>OD QA Automatio

[2017-11-13 12:55] ankitlodha commented on #1025
Hi,

Sure. Will use stackoverflow or Rocket Chat for such questions. Can you please guide how can we write custom reporter and bypass existing reporting. If you like I can post same question on stackoverflow or rocket chat

[2017-11-13 15:57] mmanach commented on #1023
I'm currently investigating on this...
A first basic question : **should we use the SERENITY-TEST-xxx.xml generated in the /target/site/serenity/, or TEST-Scenario-xxx.xml generated by gradle in build/test-results/test/ ?**
My issue comes from the gradle one, but with serenity seems ok.

[2017-11-13 16:01] wakaleo commented on #1023
The JUnit reports generated by Serenity are prefixed with SERENITY-JUNIT

[2017-11-13 19:21] nbarrett commented on #1020
Okay, I've tried to upgrade my project to use the Serenity 1.73, Cucumber 2.1, Serenity Cucumber 1.6.4 in order to see whether the reported problem in this issue stuff happens but unfortunately the scenario no longer runs as two exception occur:

* first exception
[code]

* Second exception at the end:

[code]
I think I might raise another issue as I think the real problem I'm having at the moment

[2017-11-13 19:30] wakaleo commented on #1020
The first issue might be a dependency issue (there is no Serenity code in the stack dump). Not sure about the second, but it could be related to the new Cucumber API (which needs an event bus per feature, not per thread).

The API has changed so drastically that I don't see how you could have both working together in a pluggable way, but feel free to take a look.

[2017-11-13 19:39] nbarrett commented on #1020
I wouldn't attempt to try and create the pluggable aspect I referred to as that would be way outside my area of knowledge - that's more an architectural aspect of Serenity I suspect. Even though I was only intending to run a single scenario, given that I specified unique tag, I was surprised to see one log messages for every feature in my codebase e.g.

[code]

This doesn't seem right does it?

[2017-11-13 19:58] wakaleo commented on #1020
The others may be in DEBUG, though - best to check the CucumberReporter class to be sure.

[2017-11-13 20:20] lega-land opened #1026 "Jbehave scenarios and stories marked with @ignore are still executed"
Updating from serenity-core 1.2.4 and serenity-jbehave 1.1.0 to serenity-core 1.7.4 and serenity-jbehave 1.33.0.

Simplest case with `@ignore` still executes scenario but marks it as ignored in Serenity report.

**story_test.story:**
[code]
**Step definitions class:**
[code]
**TestSteps class:**
[code]
**StoryTest runner:**
[code]
**Running StoryTest runner output:**
[code]
**Serenity report** sho

[2017-11-13 21:10] wakaleo commented on #1026
This is normal behaviour. @Step methods are still run in ignored scenarios, unless you mark the steps with `@Step(callNestedMethods = false)`. WebDriver call will always be disabled, however.

[2017-11-13 21:17] lega-land commented on #1026
Added `@Step(callNestedMethods = false)` in TestStep class - scenario still run.
Tried without `@Steps` in StepDefinitions class - scenario still run.

[2017-11-13 21:31] wakaleo commented on #1026
If you remove the @Steps annotation, Serenity will have no control over them, so they will run normally (JBehave has no understanding of the @ignore tag). Code in the JBehave step definitions (@Given, @When and @Then methods) will always be executed, it is the contents of the @Step-annotation methods that will be skipped.

If you think there is still an issue, please attach a sample project, or, b

[2017-11-14 12:58] nbarrett commented on #1020
Okay, given the suggestion in [#102](https://github.com/serenity-bdd/serenity-cucumber/issues/102), the update to Serenity 1.7.3 and Selenium 3.7.1 worked okay in terms of test execution, however the original problem raised in this issue still remains (not surprising given [above comment](https://github.com/serenity-bdd/serenity-core/issues/1020#issuecomment-343657541)). Some progress though as I

[2017-11-14 13:05] nbarrett commented on #1020
Oh, hold on there is a new problem that has cropped up during the aggregation:

[code]

[2017-11-14 13:10] wakaleo commented on #1020
Ah yes, the Cucumber API is used in serenity-core to read the feature files, and since it has changed, so will the serenity code. Not sure what to do about that - maybe have a look at the FileSystemRequirementsTagProvider and see if you can make a more pluggable strategy that adapts to the Cucumber API?

[2017-11-14 13:18] nbarrett commented on #1020
okay, sure - will do my best to work this out. The problem is that the latest net.thucydides.core.requirements.model.cucumber.CucumberParser calls

CucumberFeature.load(resourceLoader, featurePaths), but Cucumber 1.2.5 only has these method signatures available:
* resourceLoader, featurePaths, filters, printstream
* resourceLoader, featurePaths, filters

Here's a screenshot of the call site:

![im

[2017-11-15 07:53] nbarrett commented on #1020
Before I go too far, my suggestion for the pluggable solution would be to add a cucumber 1.2.5 compatible version of `CucumberParser` into a branch off [serenity-cucumber v1.5.13](https://github.com/serenity-bdd/serenity-cucumber/releases/tag/v1.5.13)
 28872f8, and then make a change to serenity core (master) to instantiate this rather than the local version. How does that sound? I'm not sure whet

[2017-11-15 08:17] wakaleo commented on #1020
The current release build wouldn't be able to build off a legacy version unfortunately - that's why there isn't a legacy support branch for selenium 2.x

[2017-11-15 08:24] nbarrett commented on #1020
Ah okay... where would you suggest I create a cucumber 1.2.5 compatible version of `CucumberParser`? It can't be in serenity-core as it wouldn't compile there...

[2017-11-15 08:42] wakaleo commented on #1020
I am wondering if it wouldn't be easier to port/shadow the 1.2.5 classes (it's only the ones use to parse the feature files, so hopefully there shouldn't be too many) into a local package?

[2017-11-15 11:35] stalexmr opened #1028 "Running with -Dtag try to launch all other tests after"
Hello, I have two test methods:

[code]

I run this command:
mvn clean -Dtags=feature:integration failsafe:integration-test serenity:aggregate

And I see, that after first tagged test:
Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 11.563 s

The second test try to run:
Tests run: 0, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0 s

Can I do so, to prevent this behavior, cause

[2017-11-17 12:15] dgracehmh opened #1030 "After updating to serenity 1.7.4 from 1.5.3, tagging broken"
Hi,
I updated serenity 1.5.3 -> 1.7.5 and serenity-cucumber 1.6.4 and my tagging is broken.
I have numerous feature files all tagged with some Scenarios also tagged.

I run via maven
```mvn clean verify -P int -P docker-parallel -Dcucumber.options="--tags @TeacherDashboardResources"```

This all worked fine before the update, it ran what i wanted and omitted what i didn't want to run.
After the up

[2017-11-17 12:23] wakaleo commented on #1030
Thanks for raising this. It sounds like it could be related to the Cucumber 2.x upgrade. I will take a look.

[2017-11-17 12:36] wakaleo commented on #1030
I can't reproduce this, could you provide a sample project?

[2017-11-17 12:48] wakaleo commented on #1028
Not that I know of: I believe that reporting is done automatically by JUnit, not Serenity, and is not controlled by Serenity.

[2017-11-17 12:48] #1028 closed

[2017-11-17 12:50] dgracehmh commented on #1030
Sure, here you go - https://github.com/dgracehmh/serenitysample
To repro run ```mvn clean verify -P int -P local -Dcucumber.options="--tags @Sample1"```

[2017-11-17 13:04] pavi200863 opened #1031 "multiple calls to function initPagesObjectUsing(driver);"
GetDriver() function is  calling   initPagesObjectUsing(driver) function , which is  being called again  ThucydidesWebDriverSupport.initialize  function also , do we require to call initPagesObjectUsing(driver) this in each getDriver() function ?

public static WebDriver getDriver() {

        initialize();

        if (webdriverManagerThreadLocal.get() == null) {
            return null;

[2017-11-17 13:12] wakaleo commented on #1031
I'm not sure to be honest; if it is causing you problems, why not write a unit test to reproduce the incorrect behaviour and propose a PR?

[2017-11-17 13:56] wakaleo commented on #1030
Thanks for that. It is actually an issue with the serenity-cucumber library - should be fixed in the next release.

[2017-11-17 14:10] wakaleo commented on #1025
We'll add this to the documentation backlog.

[2017-11-17 14:10] #1025 closed

[2017-11-17 14:12] wakaleo commented on #1023
This may be a surefire/failsafe issue rather than a Serenity one - Serenity doesn't generate the JUnit reports other than the SERENITY-TEST-* ones.

[2017-11-17 14:14] wakaleo commented on #1016
There was a scenario where WebDriver calls on Page Objects were called after a skipped test - this is fixed in 1.7.5

[2017-11-17 14:14] #1016 closed

[2017-11-17 14:19] samsonbarukula commented on #919
when I tried this I am getting error : public class iOSPageObjectTest {

 	private WebDriver driver;
 	private TestAppScreenSimple uiTestApp;

 	@Before
 	public void setUp() throws Exception {
 		DesiredCapabilities desiredCapabilities = new DesiredCapabilities();
 	    desiredCapabilities.setCapability("deviceName", "Mathews P Abraham’s iPad");
 	    desiredCapabilities.setCapability("automation

[2017-11-17 14:20] samsonbarukula commented on #919
error for the above :  Nov 17, 2017 7:33:59 PM org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: OSS

[2017-11-17 14:20] samsonbarukula commented on #919
any help pls urgent

[2017-11-17 14:28] wakaleo commented on #919
Hi @samsonbarukula, as this is an open source project, there is no SLA on defect fixes. If you do need urgent help, we would be happy to look into your issue as part of a commercial support agreement. Some of our support models can be found here: https://johnfergusonsmart.com/serenity-bdd-mentoring/

[2017-11-17 14:28] wakaleo commented on #1024
Error occurring when two scenarios with example tables in the same feature file have the same scenario name.

[2017-11-17 14:28] #1024 closed

[2017-11-17 14:44] samsonbarukula commented on #919
thank you let me go through

[2017-11-17 14:44] samsonbarukula commented on #919
I would like to know whether it is possible for iOS 10 and above on real devices ?

[2017-11-17 15:53] asvdw opened #1032 "Override report template"
Hello again,

Maybe it's more support than issue tracking... but could you say me the easier way to override freemarker template for reports ?
I have to do a few customization such as language and table order, so I'd like to copy/paste freemarker folder from serenity-report-resources to my project so I can make customizations there without altering original packages.

Thank you ;)

[2017-11-18 02:35] lilyhoang opened #1033 "Can't interact browser with server"
I got a problem as following , pls help !!!
Browser started by serenity can't communicate with server.

When I click on Search button, Console returns TypeError: t is undefined.  but Its still ok when I start browser by manually.

![123](https://user-images.githubusercontent.com/20644391/32976167-db886ef2-cc43-11e7-8c8b-613800338ee5.png)

[2017-11-18 11:57] wakaleo commented on #1033
Those look like Driver errors - you might have an incompatible version of geckodriver or chromedriver.

[2017-11-18 23:43] cliviu commented on #993
Hi @dbirch-cognitoiq , I have created a small test application using a hybrid web app. Let me know if it answers your question. Thanks !

[2017-11-19 21:06] siva90144 opened #1035 "can you give compatible versions of Serenity jbehave and Serenity maven version"
Can you give tabler format for  corresponding compatible versions for below core components

<serenity.version>1.2.4</serenity.version>
<serenity.maven.version>1.2.4</serenity.maven.version>		<serenity.jbehave.version>1.13.0</serenity.jbehave.version>

[2017-11-19 21:46] wakaleo commented on #1035
Since this is a question, not a bug, could you raise it on RocketChat (http://serenity-bdd.rocket.chat) or on the Serenity BDD mailing list?

Thanks.

[2017-11-19 21:46] #1035 closed

[2017-11-20 11:05] Linuxic opened #1036 "FreeMarker template error"
Hi!
This is my code

[code]

This is my pom.xml
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>ru.ui</groupId>
	<artifactId>ui-tests</artifactId>
	<version>1.0-SNAPSHOT</version>
	<packaging>jar

[2017-11-20 11:17] wakaleo commented on #1036
Could you provide a sample project?

[2017-11-20 11:18] wakaleo commented on #1030
Fixed in serenity-cucumber 1.6.5

[2017-11-20 11:18] #1030 closed

[2017-11-20 13:13] Linuxic commented on #1036
@wakaleo, My project https://github.com/Linuxic/ru.ui.git

[2017-11-20 13:54] wakaleo commented on #1036
Thanks for the demo project. The problem with the demo project is an inconsistent version of the `serenity-report-resource` dependency, which does not match the other serenity dependencies.

[2017-11-20 14:30] Linuxic commented on #1036
Thanks a lot

[2017-11-20 14:30] #1036 closed

[2017-11-21 11:37] dgracehmh commented on #1030
Thanks for fixing that @wakaleo. I see a release has been done for serenity cucumber - https://github.com/serenity-bdd/serenity-cucumber/releases/tag/v1.6.5 but it is not on maven yet - https://mvnrepository.com/artifact/net.serenity-bdd/serenity-cucumber - How long does it normally take?

[2017-11-21 12:06] wakaleo commented on #1030
It should be available on central within 24 hours.

[2017-11-21 13:55] dgracehmh commented on #1030
Thanks, just wanted to let you know as that release looks like it was made 4 days ago - https://github.com/serenity-bdd/serenity-cucumber/releases/tag/v1.6.5 - thought something might be up. Cheers!

[2017-11-21 17:02] nbarrett commented on #1020
Hi @wakaleo - I've spent some time working on your suggestion of importing the legacy cucumber classes into a local package and found the number of classes ran into over 100 files which really suggests to me that this is not the 'right' approach. More importantly this approach would not work in normal serenity usage (gradle/maven), given that all dependencies are pulled in transitively therefore b

[2017-11-22 09:10] fergadipa opened #1037 "Cannot run chrome driver on ubuntu 16.04"
Dear Serenity,

Currently, I have setup Jenkins on Ubuntu 16.04, then I also have made job to run Serenity BDD. But I have a problem which not happened on my local notebook (Windows), this Serenity BDD run properly on my local notebook.
The problem is the driver is not executable on Ubuntu 16.04. I downloaded chromedriver for linux64 from [here](https://chromedriver.storage.googleapis.com/index.ht

[2017-11-22 10:00] wakaleo commented on #1037
Can you run chromedriver from the command line on the Jenkins box? Is it on the path? A simple process to do this is:
1) Copy the chromedriver binary to `/usr/local/bin`
2) Make it executable:
[code]

[2017-11-22 10:00] wakaleo commented on #1037
By the way, http://serenity-bdd.rocket.chat is a better forum for this kind of question.

[2017-11-22 13:27] wakaleo commented on #1020
Hi Nick,

You could try to extract the logic, but be careful not to break the
requirements reporting - those classes (FailureAnalysisConfiguration and
FailureAnalysis) are quite important. The file system requirements code
uses the Cucumber code to read directory-based requirements structures -
historically, there have been may ways to represent requirements, but if
this could be made optional and

[2017-11-22 16:46] lega-land opened #1038 "geckodriver.exe hangs after WebDriverFacade.quit()"
FireFox 57.0, geckodriver 0.19.1, serenity-core 1.8.1

I'm running hundreds of features in few threads and each time test ends it calls WebDriverFacade.quit(). For Chrome both chrome.exe and chromedriver.exe are closing at this moment. But for FireFox - firefox.exe closes and geckodriver.exe doesn't. Thus in time host becomes overwhelmed with geckodriver.exe process and testing hangs.

May you ple

[2017-11-22 17:10] lega-land commented on #1026
We had step `page.open()` and it doesn't open the page as scenario is ignored, but Serenity tries to perform `@WhenPageOpens` which in our case sets browser height and width. And as browser wasn't opened, exception is thrown.
We removed this method and used serenity.browser.width and serenity.browser.height options.

[2017-11-22 20:18] lega-land commented on #1038
There is no such problem if I use pure Selenium WebDriver:
[code]

[2017-11-22 20:25] wakaleo commented on #1038
Thanks for raising this, we will investigate. Serenity uses the GeckoDriverService rather than creating a direct FirefoxDriver, so the logic is different.

[2017-11-22 20:55] wakaleo commented on #1038
I'm not seeing this behaviour, could you provide a sample project? If you would like to investigate, the DriverServicePool class is a good place to start.

[2017-11-23 09:03] lega-land commented on #1038
looks like it's serenity-jbehave issue.
geckodriver closes with serenity-junit and serenity-cucumber.

[2017-11-23 13:49] lega-land commented on #1038
A bit of more research.
Serenity-cucumber doesn't close neither chromedriver.exe nor geckodriver.exe when `quit()` is called, only chrome.exe and firefox.exe are closed. But new driver process doesn't start when next feature starts. There is always one driver process is running. It only dies when main runner ends (maven or IDEA in my cases). Don't know if that's OK.

Serenity-jbehave works the sam

[2017-11-23 13:54] wakaleo commented on #1038
Thanks for your research. Yes, that's the way the service pools are meant to work. The normal process is to create one instance of chromedriver and geckodriver, which is terminated when the JVM shuts down (so at the end of the test run, not after each test). There must be something odd going on with the JBehave lifecycle calls. I know JBehave has very weird ways of using threads (so the same test

[2017-11-23 13:57] lega-land commented on #1038
I've already debugged a lot. Still can't find the reason.

[2017-11-23 14:03] wakaleo commented on #1038
I suspect it might be thread-related. JBehave might be trying to obtain the gecko service pool from a different thread for each test. If I recall correctly, the GeckoDriverService is not threadsafe, so Serenity uses an extended version which is thread safe (ThreadsafeGeckoDriverService). So maybe put some breakpoints in the ThreadsafeGeckoDriverService class to see when it is being called and from

[2017-11-23 15:11] mfgor opened #1039 "JUnit 5 supported SerenityRunner"
When I try to annotate my tests by Junit 5 @Test annotation they fail with the following error:
`java.lang.Exception: No runnable methods
	at org.junit.runners.BlockJUnit4ClassRunner.validateInstanceMethods(BlockJUnit4ClassRunner.java:191)
	at org.junit.runners.BlockJUnit4ClassRunner.collectInitializationErrors(BlockJUnit4ClassRunner.java:128)
	at org.junit.runners.ParentRunner.validate(ParentRunn

[2017-11-23 15:13] wakaleo commented on #1039
JUnit 5 is currently not supported. Support for JUnit 5 is a substantial change with potentially non-backward compatible changes, so there is no ETA on this at this stage.

[2017-11-23 15:13] #1039 closed

[2017-11-23 16:05] lega-land commented on #1038
Looks like `ThreadsafeGeckoDriverService.threadLocalDriverService` becomes cleared during `SerenityReporter.afterScenario`. And when new scenario starts and tries to open a page new geckodriver starts during DriverServicePool.start().
Unfortunately I'm not good with Threads, thus I can't investigate the problem thoroughly. I'd appreciate help here. Thanks!!!

[2017-11-24 14:22] mmanach opened #1040 "Jbehave GivenStories break steps in report"
Hi @wakaleo ,

Here an example of a story.file :
[code]

I wanted to re-use existing story with GivenStories : http://jbehave.org/reference/latest/given-stories.html

So now my story looks like :
[code]

But now in the report, I only have the **Preconditions** step :
![image](https://user-images.githubusercontent.com/29480659/33214198-2ab0e1a8-d12b-11e7-8fa2-7544383a3d1e.png)

Is it the correct wa

[2017-11-24 15:01] wakaleo commented on #1040
I consider GivenStories to be an anti pattern - Gherkin should not be used for reusable components, and especially not entire stories - so the correct way would be to avoid them entirely. As for the reporting issue here, I will take a look but it may not be for a while.

[2017-11-24 15:54] cliviu commented on #993
Hi @dbirch-cognitoiq  , can you please try with serenity-core 1.8.0, appium 5.0.4 ?

[2017-11-25 01:33] s2oBCN opened #1041 "output.formats=xml,json,html => broken links in html reports"
Hi John,
I found that if in the **serenity.properties** you put  output.formats=**xml**,json,html then the links in the html reports for the navigation into the detail of a test execution will be broken.

The reason why is the coincidence of two things:
- When the "aggregate" task is executed, it builds the "testOutcomes" from FormatConfiguration.getPreferredFormat(). And if "output.formats=xml,js

[2017-11-26 15:10] shash431 commented on #810
hi,
   My report is not getting generated though I am running maven fail safe plugin when the runners are generated from teymers plugin and below is the pom.xml and kindly update accordingly so that i can get the report for all the features executed :

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

[2017-11-27 07:27] wakaleo commented on #1026
Thanks for the update. Could you check with serenity-core 1.8.1; the PageObject.open() method now checks the state of the driver as well.

[2017-11-27 07:28] wakaleo commented on #1023
Could you confirm if you get the correct JUnit reports in Jenkins when you use the SERENITY-TEST-* reports?

[2017-11-27 08:09] drvgao opened #1043 "how to stop test and set test pass or fail using serenity core"
Hi,
It is not an issue, it's about to how to do. I search for this but did not find the ans. It might be very simple question.

But could you please let me know, how to stop a serenity bdd test and set test outcome as PASS or FAIL.

[2017-11-27 09:29] mmanach commented on #1023
with last version 1.8.1 ?

[2017-11-27 09:33] wakaleo commented on #1023
Yes

[2017-11-27 10:56] mmanach commented on #1023
Seems still issue with **{workspace}/build/test-results/test/TEST-Scenario*.xml**
Failed cases are not retrieved.

[2017-11-27 10:57] wakaleo commented on #1023
As I mentioned, Serenity does not generate the TEST-Scenario* files. I presume they come from the Main failsafe plugin. Could you try with the JUnit test outputs produced by Serenity?

[2017-11-27 12:05] wakaleo commented on #1043
Hi,

Github is not a great place to put questions like this: the Google Groups or Rocket Chat (http://serenity-bdd.rocket.chat) forums are likely to get a quicker response.

If you want to stop a test and set the outcome to fail, just throw an exception of your choice. Forcing it to stop and pass would require specific logic in your test case.

[2017-11-27 12:05] #1043 closed

[2017-11-27 12:07] wakaleo commented on #1041
Thanks for raising this. The XML format has been discontinued for a while now, so we will probably just remove it entirely. Is there are reason you are producing XML output?

[2017-11-27 12:08] wakaleo commented on #1038
This is tricky and largely due to the fact that the GeckoDriver is not threadsafe. Will probably get round to investigating further in the coming weeks.

[2017-11-27 12:17] lega-land commented on #1038
Thanks John! Looking forward for a fix :)

[2017-11-27 12:43] mmanach commented on #1023
Ah yes sorry, I misread your comment : the Junit files generated by Serenity (SERENITY-TEST-* ) are ok !

[2017-11-27 12:45] wakaleo commented on #1023
Cool! I'll close this issue then, as the TEST-* outputs are not directly related to Serenity or part of the Serenity code base.

[2017-11-27 12:45] #1023 closed

[2017-11-27 12:53] s2oBCN commented on #1041
Well, it was just because we are generating a junit file per feature.
But, changing the format to json (even it's not a json, it doesn't matters) it's enought.

[2017-11-27 12:56] wakaleo commented on #1041
Can you use the SERENITY-JUNIT* files generated by Serenity?

[2017-11-27 13:05] mmanach commented on #1040
@wakaleo Can you explain why you think it's an antipattern ?

For example, if all your tests include the same first login step, how would you do to not have to rewrite these same steps for each scenario?

[2017-11-27 13:10] wakaleo commented on #1040
A story is a story: it has inputs, actions, and expected outcomes. If you have a login step, it is, as you call it, as step, not a story. So it should be a reusable method (using @Step) or Task (with Screenplay). Then you just have a step "Given Joe is logged on" or "Given Joe is viewing his clusters", which calls this step. And the story that checks the outcome also calls this step.

[2017-11-27 19:57] samangipudi opened #1044 "@Steps annotation not automatically instantiating the class and null pointer exception at getDriver()"
Steps annotation not instantiating the class automatically instead throwing a null pointer exception. I instantiated the class then it throws NullPointerException at getDriver() method in ScenarioSteps class.

Using Serenity core - 1.8.1
          Serenity Maven - 1.8.1
          Serenity JBehave - 1.18.0

[2017-11-27 20:13] wakaleo commented on #1044
Have you tried with the most recent version of serenity-jbehave (1.1.34)?

[2017-11-27 20:15] samangipudi commented on #1044
1.1.34?? If you meant 1.34.0 then yes I tried with that version. With the latest version it throws
java.lang.NoSuchMethodError: org.jbehave.core.configuration.ParanamerConfiguration.useTableTransformers(Lorg/jbehave/core/model/TableTransformers;)Lorg/jbehave/core/configuration/Configuration;
	at net.serenitybdd.jbehave.SerenityJBehave.defaultConfiguration(SerenityJBehave.java:45)
	at net.serenityb

[2017-11-27 20:17] wakaleo commented on #1044
What version of JBehave are you using?

[2017-11-27 20:18] samangipudi commented on #1044
JBehave Core version : 4.0.5

[2017-11-27 20:20] wakaleo commented on #1044
Try with 4.1.3, or let serenity-jbehave decide the version.

[2017-11-27 20:26] samangipudi commented on #1044
I changed the JBehave version to 4.1.3 and Serenity JBehave to 1.34.0
Now I get
Failed to run story stories/payment/payment_page_make_payments.story
java.lang.AbstractMethodError
	at net.thucydides.core.steps.StepEventBus.testStarted(StepEventBus.java:147)
	at net.serenitybdd.jbehave.SerenityReporter.startScenarioCalled(SerenityReporter.java:530)
	at net.serenitybdd.jbehave.SerenityReporter.before

[2017-11-27 20:55] samangipudi commented on #1044
Could you please suggest to me the compatible versions of Serenity Core, Serenity JBehave and Serenity Maven? Don't have to be the latest versions but compatible with each other.

[2017-11-27 21:04] wakaleo commented on #1044
Try with serenity-core 1.8.1, serenity-maven 1.8.1 and serenity-jbehave 1.34.0. Alternatively, use serenity-cucumber, cucumber-jvm is more stable.

[2017-11-27 21:07] samangipudi commented on #1044
I am using the same set of versions. At present my project is in JBehave with Serenity BDD. So I cannot change it to Cucumber.

Given set of versions are not compatible and throwing RunTimeException.

[2017-11-27 21:18] wakaleo commented on #1044
It is most likely a dependency conflict. Can you provide a sample project?

[2017-11-27 21:27] samangipudi commented on #1044
Is runner class looks good?
Runner Class:

public class AcceptanceTestSuite extends SerenityStories {

	public AcceptanceTestSuite() {

	}

	@Override
	public List<String> storyPaths() {
		return Arrays.asList(
		"stories/payment/payment_page_make_payments.story"
				);
	}

	@Override
	public void run() throws Throwable {
		super.run();
	}

[2017-11-27 21:29] samangipudi commented on #1044
here is the pom file

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                             http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<artifactId>myaccount-pom</artifactId>
	<packaging>pom</packaging>

[2017-11-28 09:26] drvgao commented on #1043
Thank you wakaleo!

[2017-11-28 14:41] SumantaSarathiChakraborty opened #1045 "Serenity Report Exception"
While executing with Serenity latest versions I am getting the following exception:

I have story files in multiple folders and subfolders. Please help.

Failure when constructing testnet.serenitybdd.core.exceptions.SerenityManagedException: org.apache.commons.io.FileUtils.listFilesAndDirs(Ljava/io/File;Lorg/apache/commons/io/filefilter/IOFileFilter;Lorg/apache/commons/io/filefilter/IOFileFilter;)

[2017-11-28 14:43] lega-land commented on #1026
The same behavior with serenity-core 1.8.1 and serenity-jbehave 1.34.0.
`org.jbehave.core.failures.BeforeOrAfterFailed: Method cleanAllClientParameters (annotated with @BeforeScenario in class com.tests.jbehave.utils.CustomJUnitStory) failed: net.serenitybdd.core.pages.UnableToInvokeWhenPageOpensMethods: Could not execute @WhenPageOpens annotated method: null`

[2017-11-28 15:09] wakaleo commented on #1026
Can you provide a sample project? Otherwise, put a breakpoint in the code and see if you can come up with a fix yourself.

[2017-11-28 15:12] wakaleo commented on #1045
This is a dependency conflict of some sort, probably to do with one of the apache commons libraries. But the line number would indicate that you might not be using the latest versions. What versions are you using?

[2017-11-28 15:14] wakaleo commented on #1044
I can't do much with a pom.xml file alone, except conclude that this is probably a project-specific issue. Can you reproduce the issue in a sample project?

[2017-11-28 15:16] SumantaSarathiChakraborty commented on #1045
serenity-core - 1.8.1
serenity-maven-plugin- 1.8.1
serenity-jbehave - 1.34.0
commons-io- 2.6

After upgrading to latest versions only I am getting this exception.

[2017-11-28 15:20] wakaleo commented on #1045
You will need to check your pom.xml for dependency conflicts. But SerenityReportingRunner.java:215 is an empty line in version 1.34.0; are you sure the error is correct?

[2017-11-28 17:16] SumantaSarathiChakraborty commented on #1045
I am getting this exception now after cleaning up the POM:

Failure when constructing test  Time elapsed: 1.436 sec  <<< ERROR!
net.serenitybdd.core.exceptions.SerenityManagedException: org.apache.commons.io.FileUtils.listFilesAndDirs(Ljava/io/File;Lorg/apache/commons/io/filefilter/IOFileFilter;Lorg/apache/commons/io/filefilter/IOFileFilter;)Ljava/util/Collection;
	at net.thucydides.core.files.The

[2017-11-28 18:19] wakaleo commented on #1045
Try using commons-io 2.5

[2017-11-28 19:34] samangipudi commented on #1044
I tired creating a sample project with the same pom file which my original project has. It works with no problem. Why is that? what could be the reason for the failure/exception?

[2017-11-28 19:44] wakaleo commented on #1044
That helps eliminate basic errors, and probably narrows it down to a project-related configuration issue or bug. Try progressively building up the sample project with your real code until you see what breaks it. If you need specific help, I would be happy to take a look at your project, but it would have to be as part of a suppor ticket or support contract (see https://johnfergusonsmart.com/sereni

[2017-11-28 19:57] samangipudi commented on #1044
[ExampleProject.zip](https://github.com/serenity-bdd/serenity-core/files/1511440/ExampleProject.zip)

Here is the sample project having the issue I stated.
FYI Same Project works with Serenity Core Version: 1.5.11
Serenity Maven Version  : 1.5.11
Serenity JBehave Version : 1.18.0

Hope this helps you in finding the issue.

[2017-11-28 21:17] wakaleo commented on #1044
I can certainly have a look at this for you, and it appears minor enough to fit in the "Per-Incident Support" model (https://johnfergusonsmart.com/serenity-bdd-mentoring/#support). Could you reach out to me on the email address on the https://johnfergusonsmart.com site with your company details, and I will get a single incident support contract prepared.

[2017-11-28 21:18] samangipudi commented on #1044
Sure

[2017-11-28 21:18] #1044 closed

[2017-11-28 23:20] s2oBCN commented on #1041
No, because we add as properties, into the xml, the tags of the cucumber's scenarios

[2017-11-29 06:48] wakaleo commented on #1041
Gotcha. Are you able to use the JSON format instead?

[2017-11-29 06:48] wakaleo commented on #1041
Gotcha. Are you able to use the JSON format instead?

[2017-11-29 10:02] s2oBCN commented on #1041
Yes, without problems!

[2017-11-29 10:13] SumantaSarathiChakraborty commented on #1045
I have tried with 2.5 as well but the same exception thrown.

[2017-11-29 10:20] wakaleo commented on #1045
It sound's like a project-specific problem. Can you create a sample project that reproduces the issue? If we can confirm that it is a Serenity issue, we can place it on the backlog. Alternatively, if you need help more quickly or with your specific project, we would be happy to help out in the context of one of our commercial support contracts (see https://johnfergusonsmart.com/serenity-bdd-mentor

[2017-11-30 15:54] Pieber opened #1046 "How to get the instance of a WebDriver implementation during the test?"
Hi!

I have created my own .java file to create an implementation of WebDriver:

[code]

This .java file is called (and created) through the serenity.properties file. I am using BrowserMobProxy to get the .har file. In other words, I would like to get the http requests when the browser is on a specific url during the test to set the Har attribute. To do that I need to use the setter setHarfile() w

[2017-12-01 08:07] truyenkv opened #1047 "Can't clicking on element"
Hi Everyone,
I have a table contain username, email, role. Username is enable for click. My data make sure that one argumant => find 1 element. I run script for click on username as "$("//*[contains(text(),'"+user+"']").waitUntilClickable().click(); " and I got issue below:
[main] ERROR net.serenitybdd.core.Serenity - TEST FAILED AT STEP Open detail user screen: a1
[main] ERROR net.serenitybdd.cor

[2017-12-01 08:16] wakaleo commented on #1047
This is unlikely to be a Serenity or Selenium defect, but more a usage issue, so http://serenity-bdd.rocket.chat would be a more appropriate place to ask the question.

A few usage tips:

$("//*[contains(text(),'"+user+"']") will resolve the element. If you call click(), waitUntilClickable() will not do much more (Serenity automatically waits until it is clickable). Serenity is telling you that Se

[2017-12-01 08:16] #1047 closed

[2017-12-01 08:18] truyenkv commented on #1047
Thank you!

[2017-12-01 08:21] wakaleo commented on #1046
This is a usage question rather than a defect, so would be better on http://serenity-bdd.rocket.chat. You can get the actual WebDriver instance by using something like  `((WebDriverFacade) getDriver()).getProxiedDriver()`, but I'm not sure that this answers your question.  Please feel free to continue the conversation on Rocket Chat.

[2017-12-01 08:21] #1046 closed

[2017-12-01 08:35] wakaleo commented on #987
Did you get this sorted out @dbirch-cognitoiq?

[2017-12-02 09:50] #1026 closed

[2017-12-04 09:59] scormaq opened #1049 "Wrong ASCII heading for compromized test result"
**PRECONDITIONS**
Serenity-core: 1.7.5
Serenity-Jbehave: 1.34.0

**DESCRIPTION**
When test fails with COMPROMIZED result and property `serenity.console.headings` is set to `ascii`, Serenity _should_ log pretty ASCII header for this result (like next):
[code]
However, seems class `ConsoleLoggingListener`, responsible for this, does not contain proper configuration:
[code]
Seems logger should use no

[2017-12-04 10:02] wakaleo commented on #1049
Well spotted, you are correct! Could you propose a PR?

[2017-12-04 10:06] scormaq commented on #1049
Sure, let me try :)

[2017-12-05 15:21] dbirch-cognitoiq commented on #993
Hi @cliviu - thanks for that, I will take a glance now and see what results I get with serenity-core 1.8.0 and the latest appium client.

[2017-12-05 15:37] dbirch-cognitoiq commented on #993
Initial tests seem happy with 1.8.2 (which seems to be available now) and 5.0.4 appium, many thanks :)

[2017-12-05 15:48] cliviu commented on #993
You're welcome, thanks for testing :-)

[2017-12-05 16:01] dbirch-cognitoiq commented on #993
Also many thanks for the demo app POC, have taken a copy and will update if I need to provide a test application in the future :)

[2017-12-05 16:07] dbirch-cognitoiq commented on #987
Just got my NPE issue fixed, will retest this on 1.8.2 tomorrow and let you know how I get on!

[2017-12-05 19:50] vikramvi opened #1052 "getDriver() method can't be used with appium TouchAction method"
<img width="668" alt="screen shot 2017-12-05 at 8 46 48 pm" src="https://user-images.githubusercontent.com/308490/33627385-a4dd461c-d9fd-11e7-858b-0ceedee626a8.png">

Please refer to attached screen shot, I can't use `getDriver()` method with appium `TouchAction` method as it gives compilation error "... can't be applied to org.openqa.selenium.WebDriver"

I tried below but it throws exception

`To

[2017-12-05 19:54] wakaleo commented on #1052
`getDriver()` returns a `WebDriverFacade`, and cannot be all things to all clients. You will need to retrieve the proxied driver and cast it, e.g. something like `new TouchAction((MobileDriver) getDriver().getProxiedDriver())`

[2017-12-05 20:13] vikramvi commented on #1052
sorry wrong flag, got it working with below

`TouchAction tapCoordinates = new TouchAction(((IOSDriver)((WebDriverFacade) getDriver()).getProxiedDriver()));`

[2017-12-05 20:13] #1052 closed

[2017-12-05 20:38] vikramvi opened #1053 "org.openqa.selenium.NoSuchElementException identifier strategy broken with latest version"
Below identifier was working with version 1.7.0 but broken in 1.8.3

[code]

exception

[code]

[2017-12-05 20:41] wakaleo commented on #1053
You will have to dig into this to isolate the change and propose a PR, I think. I’m not aware of anything that would have have changed in that area

[2017-12-06 09:25] Jyothishkumarav opened #1055 "SernityRunner execution is not happening with JUnit"
I have written api test cases Using Junit. I would like to Run those using Serenity Runner. But its not happening. Test cases were executed as normal Junit Test cases. So report file is also not generated.

aggregate phase has been executed.but still its is not generating  the report.

------------------------------------------------------
 T E S T S
-----------------------------------------------

[2017-12-06 09:35] wakaleo commented on #1055
How are you trying to run your tests with Serenity?

[2017-12-06 09:45] dbirch-cognitoiq commented on #993
@cliviu Apparently I spoke too soon, not sure what I changed (or if I hadn't rebuilt our framework with the new changes properly when I ran the tests yesterday), but I'm now seeing the following exception for every test run:

[code]

Is it worth me seeing if I can reproduce this against your demo app rather than my AUT?

[2017-12-06 09:47] Jyothishkumarav commented on #1055
I can see my test were executed but report files were partially generated and i am missing index.html file

[2017-12-06 09:47] Jyothishkumarav commented on #1055
@wakaleo  am triggering from maven using mvn clean verify

[2017-12-06 09:49] Jyothishkumarav commented on #1055
Adding to above @wakaleo am using a mutimodule project . when i checked the console i can see.
4 Scenarios (4 passed)
6 Steps (6 passed)
0m11.387s

Tests run: 4, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 11.492 sec - in webtest.TestCore
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0

Results :

Tests run: 4, Failures: 0, Errors: 0, S

[2017-12-06 11:28] cliviu commented on #993
hi @dbirch-cognitoiq. I'm not sure how to reproduce your issue. Please provide a test program to help me reproducing that. Thanks !

[2017-12-06 11:39] dbirch-cognitoiq commented on #993
Last day of our sprint today, so I'll probably have to have a look at that tomorrow of Friday. I shall try and get you a reproduction scenario together then.

[2017-12-06 11:43] cliviu commented on #993
ok, thanks

[2017-12-06 14:07] Invictum opened #1056 "StepListener's testRunFinished method is not invoked"
Hi,
Serenity-core and serenity-junit version is 1.8.2
I am using `StepListening` for some integration and looking for method that indicates all tests set is executed and report generating is started.
Looks like `testRunFinished` should do what I need, but it is not invoked at all - at least in jUnit style tests. It looks like an issue.

[2017-12-06 14:21] wakaleo commented on #1056
You would think so. In JUnit it is called by the testRunFinished() method of the JUnitStepListener class (which implements RunListener). But it seems, JUnit never triggers this event (or I couldn't make it do so); this seems to be a JUnit issue.

Regarding "all the tests are finished", the problem is, we never really know that. Which is why the report generation is done in a separate phase.

[2017-12-06 14:28] Invictum commented on #1056
Thx for quick response. I will try to find another way.

[2017-12-06 14:28] #1056 closed

[2017-12-06 17:57] obecker opened #1057 "Wrong font-awesome icon for IE"
The class `net.thucydides.core.model.TitleBuilder` defines several icons to be displayed in the HTML report depending on the current context. For the context `ie` the icon class currently is `fa-ie`.

See line 28 in `TitleBuilder`:

    FONTAWESOME_ICONS_FOR_COMMON_CONTEXTS.put("ie", "<i class=\"fa fa-ie\" aria-hidden=\"true\"></i>");

However, the included font-awesome styles don't know an icon f

[2017-12-06 18:05] obecker commented on #1057
By the way, it is not clear to me why the context is `ie`, but the driver is `iexplorer`. What is the correct way to specify a webtest for the internet explorer? Currently both driver names (`ie` and `iexplorer`) seem to work - however with different context outputs in the report (`ie` creates the wrong font-awesome icon, `iexplorer` creates the text `IEXPLORER`).

[2017-12-06 18:51] wakaleo commented on #1057
Thanks for raising this. Could you submit a PR?

[2017-12-06 19:14] #1049 closed

[2017-12-06 19:16] wakaleo commented on #1033
Closed for lack of activity.

[2017-12-06 19:16] #1033 closed

[2017-12-06 19:17] wakaleo commented on #1013
Closed for lack of activity (or presumed answered)

[2017-12-06 19:17] #1013 closed

[2017-12-06 19:17] wakaleo commented on #1011
Closed for lack of activity

[2017-12-06 19:17] #1011 closed

[2017-12-06 19:18] wakaleo commented on #980
Closed for lack of activity

[2017-12-06 19:18] #980 closed

[2017-12-07 10:12] vikramvi commented on #897
@livastar can you try my sample project https://github.com/vikramvi/AppiumSerenityPOC and let us know if you still face any issues

[2017-12-07 10:41] vikramvi commented on #1053
Sure; I'll try to debug this issue and update back

[2017-12-07 11:36] PadmajaSampath opened #1058 "Using ngWebdriver with Serenity"
Hi,

I am trying to use ngWebdriver with Serenity Core and I have issues with dependencies in pom.xml.

I have serenity core version 1.7.0 and 0.9.1 as ngWebdriver.

I tried various other versions and nothing helped. I am new to this, so any help would be appreciated,

Thanks

[2017-12-07 11:51] wakaleo commented on #1058
How are you trying to use ngWebDriver with Serenity?

[2017-12-07 11:54] PadmajaSampath commented on #1058
Thanks for getting back.

Trying to automate AngularJS application using Serenity. I am interested mostly on the wait function. Cant use Protractor. So trying to figure out this option.

Hope that makes sense.

[2017-12-07 11:55] wakaleo commented on #1058
Do you have a code sample? There is no built-in integration with ngWebDriver, so it would depend how you are calling the library.

[2017-12-07 11:59] PadmajaSampath commented on #1058
I am just trying out with a sample from Web. See below:

**Using IE instead of Chrome **

public static void main(String[] args) {
		System.setProperty("webdriver.chrome.driver", "c:\\Grid\\chromedriver.exe");
		WebDriver driver = new ChromeDriver();
                driver.get("http://juliemr.github.io/protractor-demo/");
		ngDriver = new NgWebDriver((JavascriptExecutor) driver);
		ngDriver.waitFo

[2017-12-07 12:02] PadmajaSampath commented on #1058
**pom.xml**

**<serenity.version>1.7.0</serenity.version>**

<dependencies>

		<dependency>
			<groupId>net.serenity-bdd</groupId>
			<artifactId>serenity-core</artifactId>
			<version>${serenity.version}</version>
		</dependency>

		<dependency>
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-simple</artifactId>
			<version>1.7.5</version>
		</dependency>

		<dependency>
			<groupId>net.sere

[2017-12-07 12:07] wakaleo commented on #1058
The code sample you gave doesn't have any Serenity logic in it. What are you expecting Serenity to do?

[2017-12-07 12:39] PadmajaSampath commented on #1058
Hi

**Without** ngWebDriver dependency from pom.xml (serenity core version 1.4.0) my test pack runs successfully.

If I include ngWebDriver dependency (version 0.9.1) in pom.xml I get the following error.
java.lang.NoSuchMethodError: org.openqa.selenium.support.pagefactory.Annotations.buildByFromFindBy(Lorg/openqa/selenium/support/FindBy;)Lorg/openqa/selenium/By;

No changes in code / test classes

[2017-12-07 12:47] wakaleo commented on #1058
You have a dependency conflict, most likely with the version of Selenium that ngWebDriver is using.

[2017-12-07 12:58] PadmajaSampath commented on #1058
Thanks. But I am not sure how to get around this as I couldn't get much info on the compatible versions from maven repository (ngWebDriver). Says 2.35 for org.selenium.

Any thoughts on getting around this problem would be of great help.

[2017-12-07 13:16] wakaleo commented on #1058
Try using the most recent versions of each library.

[2017-12-07 14:35] PadmajaSampath commented on #1058
Thanks. I think the issue was to do with IE. I tried with Chrome and all works like a charm. Thanks for the help. But we use IE as our standard browser :-(

[2017-12-07 16:17] wakaleo commented on #1058
OK, I'll close this. On a site note, you are making life a bit hard with IE ;-)

[2017-12-07 16:17] #1058 closed

[2017-12-09 12:15] obecker commented on #1057
Done. By the way: the `context` property isn't documented on http://thucydides.info/docs/serenity/#_serenity_system_properties_and_configuration

[2017-12-09 12:43] wakaleo commented on #1057
Thanks for your contribution! I will make sure the context property appears in the new (in-progress) documentation.

[2017-12-11 07:30] obecker commented on #1057
Fixed in 1.8.5

[2017-12-11 07:30] #1057 closed

[2017-12-11 14:36] PashminaT commented on #843
Hi all,
            I am fairly new to Serenity/BDD automation. How ever I have managed to create a simple project following information from various sources. Aggregate report generated has empty 'Overall results tab'. At the moment I am running it by clicking on maven job on my machine.
![maven](https://user-images.githubusercontent.com/34449680/33836204-a8fc70ce-de80-11e7-9b23-14f877d0da71.PNG)

[2017-12-11 14:59] wakaleo commented on #843
According to the Serenity reports, it doesn't find any test results. Are you sure the tests are being executed successfully (or at all)?

[2017-12-11 15:30] PashminaT commented on #843
Hi Wakaleo, yes all the test run fine.

![image](https://user-images.githubusercontent.com/34449680/33838563-c576432c-de87-11e7-9812-112a9ec37168.png)

[2017-12-11 15:54] vikramvi commented on #1053
@wakaleo  I tried debugging this issue and stumbled upon another one for which I need your expertise

1. https://github.com/serenity-bdd/serenity-core/blob/master/serenity-appium/src/test/java/integration/pages/WordPressLoginPage.java

In this I changed element type from `WebElement` to `MobileElement` as we're testing native app controls. This is throwing below error

[code]

[2017-12-11 16:23] vikramvi commented on #1053
Exception is thrown in method

[code]

[2017-12-11 17:17] wakaleo commented on #1053
That is WebDriver code, I think the issue must be higher up.

[2017-12-11 17:39] vikramvi commented on #1053
I double checked and exception is thrown in above method, can you please try with project https://github.com/serenity-bdd/serenity-core/tree/master/serenity-appium

I wanted to add android to this project but currently blocked.

-  First error message is thrown when I use either of WebElement or RemoteWebElement
-  Second error reported today is thrown when I use MobileElement.
-  In case native m

[2017-12-12 06:36] vikramvi commented on #1053
@ricardorlg @pisarenco92 @livastar @hypery2k @cliviu can you please have a look at this issue as well ? Thanks in advance.

[2017-12-12 12:47] vikramvi commented on #1053
May be because of https://github.com/appium/appium/issues/9780

[2017-12-12 13:56] PashminaT commented on #843
All sorted. I had an invalid location in serenity.property file. Thanks for your help.

[2017-12-12 17:04] Saieph opened #1060 "Dashboard Settings not working with Gradle plugin"
Using serenity (core, rest-assured, report-resources) version 1.8.5, and serenity-cucumber version 1.6.5 :
When I execute my unit runners for cucumber, I expect the aggregated report to conform to my serenity properties. I have this switch set: `dashboard.tag.list = capability,feature,story`.
However, I am observing that the generated report is still including tags on the dashboard.

![screen shot

[2017-12-13 16:42] ThirumalaiVigneshM commented on #678
Happy to have this feature. But how/where to set this feature? Is there any property that needs to be set in the serenity.properties file ?

Thanks,
Thiru

[2017-12-14 00:01] szaluk commented on #967
I am seeing a similar issue in our code.  We are using JUnit and in one of our tests we have an after method that does cleanup.  That method calls some tasks.  I noticed that if there is a failure in the task (performAs method) that error does not propagate up and fail the test.  I had to call Serenity.throwExceptionsImmediately(); to get it to work.

I am not clear on what is happening though whe

[2017-12-14 14:23] ThirumalaiVigneshM opened #1061 "JBehave scenario's numbers are hidden in the report"
Hi,

The JBehave scenario's numbers are hidden in the serenity report.
Ex: Scenario: 2. TC12959: Verify 7 days are shown in desktop view

Ref the screenshot of the report.

Also, the serenity report is not preserving the execution order of scenarios in the story file in its report.

<img width="120" alt="screen shot 2017-12-14 at 14 16 34" src="https://user-images.githubusercontent.com/34517182/33

[2017-12-14 14:24] wakaleo commented on #1061
This is JBehave related, could you raise the issue in the serenity-jbehave project?

[2017-12-14 14:24] #1061 closed

[2017-12-14 14:38] ThirumalaiVigneshM commented on #1061
Sure Thank You.

Will you be able to  reply for my comment in [](https://github.com/serenity-bdd/serenity-core/issues/678). It will be very helpful.

Thanks,
Thiru

[2017-12-14 14:43] wakaleo commented on #678
There is now a "Started" column which allows you to sort scenarios by time of execution.

[2017-12-14 14:45] ThirumalaiVigneshM commented on #678
Thank You :)

[2017-12-15 10:42] livastar commented on #897
Hi to all :)
Thanks for your all input. @wakaleo, @vikramvi , @amedvedjev, @mykola-mokhnach, @cliviu
We've resolved this by replacing all
'@AndroidFindby(id = "action_skip")
public WebElementFacade skipButton;)'
by 'public static final By CHANNEL_IMAGE = By.id("channel_image");
public MobileElement channelImage() {
return returnElement(CHANNEL_IMAGE);
}'
In some cases that when we need WebElementF

[2017-12-15 23:19] moibm commented on #977
Hey AshrayViswanath,

I am trying to do exactly what you mentioned. Would it be possible for you to share your custom webdriver "ChromeDriverMobileView.java" file. Would really appreciate it.

Thanks

[2017-12-16 09:12] vikramvi commented on #1053
This started happening from version 1.8.0; till 1.7.5 it is working fine.  I'll look into changes went in during 1.8.0 to find root cuase

[2017-12-16 09:13] wakaleo commented on #1053
Thanks Vikram.

[2017-12-18 10:25] vikramvi commented on #897
@livastar why you need to use above technique ? Is PageFactory broken ?

Why error are you getting ?

[2017-12-18 11:51] livastar commented on #897
@vikramvi something with "Your PageObject is looking doggy"

[2017-12-18 12:38] #897 closed

[2017-12-19 18:24] nbarrett opened #1065 "Screenshot configuration does not work correctly at task/interaction/performable level"
If screenshots are configured as per the [Serenity BDD Tip: fine-tuning screenshots in your living documentation](https://johnfergusonsmart.com/serenity-bdd-tip-fine-tuning-screenshots-living-documentation/) article, any of the suggested values cause screenshots to always be configured at the top level. (This is putting aside the typo in the article that states that `for_failure` can be used which

[2017-12-19 18:38] wakaleo commented on #1065
Hmmm, I don’t think this is possible with Screenplay. This feature looks at the stack trace of the current method, to see if any calling methods have the annotation in question. But with Screenplay, you pass round objects and it’s less clear what will appear in the stack trace. I’m happy to be proved wrong though

[2017-12-19 19:09] nbarrett commented on #1065
I'm confused with your comment @wakaleo - the configuration and article are specifically about screenplay aren't they? Or are you saying those settings only work for a Junit flavour of screenplay and not cucumber? Note that after some playing around, I can get screenshots to not show at the top level as long as remove ALL of the following properties:
[code]
...and just have:
[code]

[2017-12-19 19:13] wakaleo commented on #1065
Sorry, it must be a different issue then. Those should work everywhere, so that would be a bug.

[2017-12-20 00:52] DuanYuePeng opened #1066 "Can not generate reports when running failed cucumber scenario outline"
serenity-core 1.6.5, serenity-cucumber 1.5.15

I have a scenario outline, like this:
[code]
When I run it using the following cucumber option `@target/test-classes/cucumber-failed.txt`, serenity can not generate reports. The content of 'cucumber-failed.txt' is as below
[code]
Please notice that it is the second example of the scenario outline. When I am using the first example, the issue won't rep

[2017-12-20 07:28] wakaleo commented on #1066
Thanks for identifying this issue. The problem seems to come from an incorrect evaluation of the number of examples to be executed at line 383 of the same file (in the current version). If you would like to troubleshoot further and find a way to correctly calculate this value for this scenario, I'd be happy to review a PR.

[2017-12-21 09:50] Prasannajnaeyulu opened #1067 "nullpointer exception while running whole feature file with scenario outline at the end of the feature file"
Serenity Reporter throwing NPE. This is happening if **Scenario Outline**  was at the last in a feature file. If it's at the beginning then all scenarios are executing without any issues.

Feature File example template:
 **Feature:**
          <some description here...>
    **Scenario:**
         <some steps here....>
    **Scenario:**
           <some steps here....>
    **Scenario:**

[2017-12-21 09:51] Prasannajnaeyulu commented on #1067
using serenity core 1.8.1 version

[2017-12-21 09:53] wakaleo commented on #1067
I'm not seeing this behaviour in the smoketests, could you check with serenity-core 1.8.11 and serenity-cucumber 1.6.7?

[2017-12-21 10:02] Prasannajnaeyulu commented on #1067
I am using serenity cucumber 1.6.3 and serenity-core 1.8.1. Let me check by changing serenity cucumber to 1.6.7 then.Thanks for your swift repsponse

[2017-12-21 10:18] Prasannajnaeyulu commented on #1067
no luck same error with serenity-cucumber 1.6.7

[2017-12-21 10:19] wakaleo commented on #1067
Could you post the stack trace (it will be different for 1.6.7)

[2017-12-21 10:20] Prasannajnaeyulu commented on #1067
java.lang.NullPointerException: null
        at cucumber.runtime.formatter.SerenityReporter.startExample(SerenityReporter.java:619)
        at cucumber.runtime.formatter.SerenityReporter.handleTestCaseStarted(SerenityReporter.java:253)
        at cucumber.runtime.formatter.SerenityReporter.lambda$new$1(SerenityReporter.java:143)
        at cucumber.runner.EventBus.send(EventBus.java:28)
        at

[2017-12-21 10:22] wakaleo commented on #1067
Could you provide a sample project that reproduces the issue? I'm not seeing it here.

[2017-12-21 10:43] Prasannajnaeyulu commented on #1067
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.sample</groupId>
	<artifactId>sample-auto</artifactId>
	<version>0.0.1</version>
	<packaging>jar</packaging>
	<name>Sample Web Automation</name>

[2017-12-21 10:44] wakaleo commented on #1067
I mean a full project, not just the pom.xml file.

[2017-12-21 12:26] Prasannajnaeyulu commented on #1067
I can't share a code. But, I can give you a context...
I am using cucumber-jvm for parallel execution and using custom vm template to convert junit tests to run with cucumberWithSerenity. Which is generating a runner class as below. The output is written to 1.json file.

import org.junit.runner.RunWith;
import cucumber.api.CucumberOptions;
import net.serenitybdd.cucumber.CucumberWithSerenity;

@Ru

[2017-12-21 12:48] wakaleo commented on #1067
I think your best bet in that case is to place a breakpoint in the SerenityReporter class, see what is going on and why the example table is not being populated.

[2017-12-21 16:30] Prasannajnaeyulu commented on #1067
Yeah. That's a cool idea. I will check that once I get some free time.  Scratched my head since morning with the other reporting issues where cucumber jvm is reporting 18 tests executed. But, serenity aggregate report showing only 16. The issue was just concluded. Its because two other scenarios have got the same name. So, it's aggregating all three into one. I am copy pasting the scenarios and ch

[2017-12-25 10:41] vikramvi commented on #1053
@wakaleo below is the output from `arc`

[code]

I'm not understanding what may be going wrong while executing java code ?

[2017-12-25 10:51] vikramvi commented on #1053
`serenity version 1.7.5` appium server log

[code]

[2017-12-25 10:55] vikramvi commented on #1053
[code]

being called differently in above 2 cases

Before 1.8.0 version

[code]

After 1.8.0 version

[code]

Please clarify why `xpath` is treated as `id` here ?

[2017-12-26 15:43] danny-flores-mojix-com commented on #1007
The serenity class should call the injector
 `public MyRunner(Class<?> klass) throws InitializationError {
        super(klass,Injectors.getInjector());
    }`

[2017-12-26 15:44] danny-flores-mojix-com commented on #1007
The serenity runner class should call the injector

 `public MyRunner(Class<?> klass) throws InitializationError {
        super(klass,Injectors.getInjector());
    }`

[2017-12-27 00:26] DuanYuePeng commented on #1066
That's fine. I'll do it.

[2017-12-28 10:19] kubagruszka opened #1068 "Class cast exception: io.restassured.internal.RestAssuredResponseOptionsImpl cannot be cast to io.restassured.response.ResponseOptions"
I'm getting this very strange exception. It happens in a test method which uses the `Assume.assumeThat` which actually turns false and test should be ignored but it fails on the execution of the `@After` method call (which one is actually making and http external call to cleanup). What is strange is that Intelij junit runner is actually showing this test as Ignored but Serenity report says ERROR i

[2017-12-29 08:17] ampie opened #1069 "Decouple the bulk of serenity-screenplay's logic from serenity-core for use in Android"
# Context
In my work environment, Android developers have expressed an interest in the Screenplay pattern for native Espresso tests.
# Problem
The serenity-screenplay module currently depends on the serenity-core project. Unfortunately the serenity-core project pulls in dependencies that cannot be processed by the rather fussy Android dex compiler.
# Proposed Solution
The dependency between sereni

[2017-12-29 08:21] wakaleo commented on #1069
Do you need Java 7 (as opposed to Java 8) for Android?

[2017-12-29 08:22] ampie commented on #1069
For our purposes Java 8 will work (mostly). However Android has certain limitations on Java 8 features. For instance, it does not support default or static interface methods.

[2017-12-29 08:25] wakaleo commented on #1069
I’d be happy to review a PR for this.

[2017-12-29 08:28] ampie commented on #1069
Cool, thanks. I am working on one as we speak. Unfortunately I am going on holiday next week, but getting a pull request ready for review will be my first goal for the new year.

[2017-12-29 08:28] wakaleo commented on #1069
The Java 8 limitation might be an issue however as I can’t guarantee what Java 8 features are or will be used in serenity-screenplay

[2017-12-29 08:57] ampie commented on #1069
At this point I just came across 2 static interface methods in serenity-screenplay. The one was deprecated. The other static interface method is net.serenitybdd.screenplay.Task.where. I am hoping it won't be too big an issue for developers if we migrated that method to another class. It looks like a relatively recent addition. But yes, I can only hope that Android's support for Java 8 improves soo

[2018-01-02 07:19] vikramvi commented on #1053
@wakaleo need your help here please

[2018-01-02 13:09] ricardorlg commented on #1053
@vikramvi is this happening in the POC project? so I can take a look.

[2018-01-02 14:24] vikramvi commented on #1053
@ricardorlg  please checkout the branch of POC project , https://github.com/vikramvi/AppiumSerenityPOC/tree/joe_winApp_poc

[2018-01-03 14:08] risinek opened #1070 "Different serenity.properties for iOS and Android Appium driver"
Hi, is there a way to specify different properties for iOS and Android Appium driver? What I am trying to achieve is, that I want to have iOS and Android tests in one run. So I use `@Managed(driver = appium)` for both iOS and Android drivers, but I can't figure out, how to set serenity.properties for both Android and iOS and then somehow assign them to managed driver in specific class.
Is it even

[2018-01-03 14:10] wakaleo commented on #1070
This is not currently supported.

[2018-01-03 14:20] risinek commented on #1070
Ok, thanks for answer ;)

[2018-01-03 23:52] nbarrett opened #1071 "Unable to override webdriver.provided.{type} property at run time"
On my project I have a separate `DriverSource` implementation for each of the supported browsers, as they have project-specific configuration requirements which can't be configured using basic serenity.driver.capabilities properties. The wiring to the `DriverSource` implementation works fine if a value is hard-coded in the serenity.conf file e.g.

[code]

However, if I try to provide a runtime sys

[2018-01-05 03:31] ibmer921150 opened #1072 "REST Assured - patch method return 301 status code"
Hi there,

PATCH method return 301 status code. Please advice me if there is any problem. Thanks.

	@Step
	public void patchUserWithPhoneNumber(String guid) {

		Map<String, Object> requestParams = new HashMap<>();
		requestParams.put("phone_number", "string");
		requestParams.put("business_name", "string");
		requestParams.put("guid", guid);
		System.out.println(guid);
		response = SerenityRest.g

[2018-01-05 08:37] wakaleo commented on #1072
This doesn't sound like a Serenity or RestAssured issue, but rather a usage question, so (unless you think there is a bug in the Serenity or Rest Assured code base) it would be more suited to the Serenity user groups (http://serenity-bdd.rocket.chat)

[2018-01-05 11:01] cksoman opened #1073 "Any method to do a SOAP request using Serenity"
I want to test a soap request using Serenity,Could you please suggest any method

[2018-01-06 14:19] wakaleo commented on #1073
This is a question, not a defect, so it would be better raised on the Serenity User Groups or the Rocket Chat channel (http://serenity-bdd.rocket.chat). There is no special support for SOAP in Serenity, but you would just invoke your SOAP service in exactly the same way as you would do from normal Java code.

[2018-01-06 14:19] #1073 closed

[2018-01-06 14:21] wakaleo commented on #1068
Can you provide a sample project that reproduces the issue?

[2018-01-06 16:13] djhair01jds commented on #811
I got the following error:

[main] ERROR net.serenitybdd.core.Serenity - Could not instantiate class org.openqa.selenium.firefox.FirefoxDriver

while running [sample code](https://github.com/serenity-bdd/tutorials) from [Serenity BDD - Tutorial 1](https://www.youtube.com/watch?v=o-6CcDFn5Ug&t=922s)

I also made an attempt at using latest gecko driver, but got the following error message:

[main] E

[2018-01-06 16:18] wakaleo commented on #811
"Could not instantiate class" is pretty much always a driver compatibility issue or a driver bug. Looks like you have an old version of geckodriver, and several incompatible versions of selenium Firefox driver.

[2018-01-08 10:40] VPazzini commented on #637
Hello Vikram, did you get any response from Serenity support? I am trying to set up a structure similar to the one you were working (senerity + jbehave + gradle + appium + grid + real devices).

[2018-01-08 14:01] vikramvi commented on #637
@VPazzini  please check out below 2 repos

https://github.com/vikramvi/AppiumSerenityPOC

https://github.com/vikramvi/appium-parallel-execution-seleniumGrid

[2018-01-08 14:03] vikramvi commented on #1053
@ricardorlg can you please let me know if you got chance to debug the issue ?

[2018-01-09 06:38] DuanYuePeng commented on #1066
I created the [pull request](https://github.com/serenity-bdd/serenity-cucumber/pull/122), please review.

[2018-01-09 10:50] jactor-rises opened #1074 "Transitive dependencies"
Windows platform: windows 7 enterprice, service pack 1

I am trying to get a selenium test suite to run on the latest serinity version, but I am unable to resolve an issues with transitive dependencies.

Issue:

    java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;J)V
            at org.openqa.selenium.support.ui.Duration.<init>(Duration.java:40)

[2018-01-09 10:56] wakaleo commented on #1074
you have a sependency on an old version of guava somewhere

[2018-01-09 10:56] jactor-rises commented on #1074
this is also a question on stack overflow:
https://stackoverflow.com/questions/48165845/how-to-resolve-transitive-dependencies-for-serenitybdd

[2018-01-09 11:02] jactor-rises commented on #1074
hmmm... it seems like all dependencies using guava is using the same version: 1.18...
what version is suggested?

[2018-01-09 11:07] jactor-rises commented on #1074
i have a conflict in transitive dependencies in gson though...
version: 2.8.0 is used in serenity, but selenium-java (version 3.8.1) is using gson 2.8.2

[2018-01-09 11:14] jactor-rises commented on #1074
i tried to add gson version 2.8.2 to my classpath, and then 2.8.0 to my classpath with the same result...

[2018-01-09 12:22] jactor-rises commented on #1074
i also have a conflict in selenium-java
it seems that serenity-core are using selenium java 3.8.1, but ngwebdriver is also used by serinity-core and are using selenium-java 3.0.1

[2018-01-09 12:31] wakaleo commented on #1074
ngwebdriver specifies any version greater than 3.0.1, so that won’t be the issue

[2018-01-09 12:38] jactor-rises commented on #1074
hmmm... i cannot see the conflicts.

i have found the following conflicts
com.google.code.gson  :  gson : 2.8.0
org.hamcrest  :  hamcrest-core : 1.3
org.objenesis objenesis : 2.6
org.seleniumhq.selenium selenium-java : 3.8.1
org.yaml snakeyaml : 1.12

[2018-01-09 12:43] jactor-rises commented on #1074
can you reproduce this failure by using the same dependencies?

[2018-01-09 12:49] wakaleo commented on #1074
that would be project-specifc support; we could help out in the context of a commercial support contract.

[2018-01-09 15:31] oleksandrkol commented on #843
Hi, I use latest versions of Serenity, but also have issue with reports.
Dependencies in Gradle:

compile group: 'net.serenity-bdd', name: 'serenity-core', version:'1.8.20'
compile group: 'net.serenity-bdd', name: 'serenity-report-resources', version: '1.8.20'
compile group: 'net.serenity-bdd', name: 'serenity-junit', version: '1.8.20'
compile group: 'net.serenity-bdd', name: 'serenity-gradle-plug

[2018-01-09 15:42] SergheiRidico opened #1075 "Appium Java-Client Version is Out of Date"
Guy, could you please update `java-client` version to last one: `6.0.0-Beta2`.
It contains important fixes related to mobile touch actions.
Because of this issue we have to use old `serenity-core` version: 1.8.4.
Thanks

[2018-01-10 08:33] ricardorlg commented on #1053
@vikramvi sorry, I have been some busy but I will check this before the end of the week and let you know if I can solve it.

[2018-01-10 11:29] vikramvi commented on #1053
Thanks @ricardorlg

[2018-01-10 13:22] Mitalig opened #1076 "Error executing FreeMarker template"
Hi Team,
I am facing an issue while running my serenity test. Following is the exception which I am getting:

Error executing FreeMarker template
[exception.txt](https://github.com/serenity-bdd/serenity-core/files/1618908/exception.txt)
[exception.txt](https://github.com/serenity-bdd/serenity-core/files/1618910/exception.txt)
FreeMarker template error:
Java method "net.thucydides.core.reports.html

[2018-01-10 13:25] wakaleo commented on #1076
We can't do much with just an exception stack. Could you provide more details, such as:
   - the version of Serenity you are using
   - A sample project that reproduces the issue

[2018-01-10 13:37] Mitalig commented on #1076
Hi Wakaleo,
The serenity version I am using is 1.4.1-rc.6 and serenity cucumber version I am using is 1.1.6.
I am using it with Rest-assured.

[2018-01-10 13:40] wakaleo commented on #1076
Can you confirm that the issue happens with the latest versions (1.8.20 and 1.6.10)?

[2018-01-10 13:50] Mitalig commented on #1076
After upgrading to latest version I am facing following issue:
Require upper bound dependencies error for io.cucumber:cucumber-core:2.3.0 paths to dependency are:
+-com.airport:com.airport:0.0.1-SNAPSHOT
  +-net.serenity-bdd:serenity-core:1.8.20
    +-io.cucumber:cucumber-core:2.3.0
and
+-com.airport:com.airport:0.0.1-SNAPSHOT
  +-net.serenity-bdd:serenity-junit:1.8.20
    +-io.cucumber:cucumber-c

[2018-01-10 13:51] wakaleo commented on #1076
That's a maven pom.xml configuration issue, can't really help you with that.

[2018-01-10 13:53] Mitalig commented on #1076
But it happens only when I upgrade the version.

[2018-01-10 13:57] wakaleo commented on #1076
https://maven.apache.org/enforcer/enforcer-rules/requireUpperBoundDeps.html

It's probably a transitive dependency somewhere that doesn't have an upper bound. Not directly under the control of Serenity, so you will have to find it and override it in your pom.xml file.

[2018-01-10 16:21] jetfree7 opened #1077 "How to add WebDriverEventListener to driver?"
Hi guys,

I have a need to check some condition before every click. This problem can be resolved by implementing new WebDriverEventListener and registering it in webdriver.
After a long search, I didn't find a good possibility to do this. Point me please if I missed something.

[2018-01-10 16:26] wakaleo commented on #1077
You could use a custom driver and add the listener there. Alternatively you use Screenplay and implement your own Click interaction class.

[2018-01-10 16:28] jetfree7 commented on #1077
Thanks!

[2018-01-10 16:28] #1077 closed

[2018-01-11 01:31] AndreaChang-Alchemy opened #1078 "How do i execute stories in specific order in serenity Screenplay"

[2018-01-11 03:51] Mitalig commented on #1076
Hi Wakaleo,
But now I am facing the following issue:

(10:7): inconsistent cell count within the table
(31:7): inconsistent cell count within the table
	at cucumber.runtime.FeatureBuilder.parse(FeatureBuilder.java:60)
	at cucumber.runtime.model.CucumberFeature.loadFromFeaturePath(CucumberFeature.java:113)
	at cucumber.runtime.model.CucumberFeature.load(CucumberFeature.java:49)
	at cucumber.runtime

[2018-01-11 05:34] Mitalig commented on #1076
Hi @wakaleo ,
I solved the above issue but now I am getting following exception:

initializationError(com.turtlemint.apiautomation.TestRunner)  Time elapsed: 0.043 sec  <<< ERROR!
cucumber.runtime.CucumberException: gherkin.ParserException$CompositeParserException: Parser errors:
(10:7): inconsistent cell count within the table
(31:7): inconsistent cell count within the table
	at cucumber.runtime.

[2018-01-11 06:20] wakaleo commented on #1076
That would be a syntax error in one of your feature files

[2018-01-11 06:35] wakaleo commented on #1078
This is a question, not a defect; could you post it on the Serenity chat channel (http://serenity-bdd.rocket.chat), Google Groups, or StackOverflow?

[2018-01-11 06:35] #1078 closed

[2018-01-11 07:05] Mitalig commented on #1076
Hi @wakaleo ,
I have run the same feature files with cucumber previously.
So I don't think so there is any syntax error.
Any other possibility?

[2018-01-11 07:31] wakaleo commented on #1076
Possibly a cucumber library conflict - check for dependency conflicts.

[2018-01-11 09:11] Mitalig commented on #1076
Hi @wakaleo ,
I removed all the cucumber related dependencies and updated my maven project which is using serenity and still I am facing the same issue.

Getting following exception:

[main] ERROR net.thucydides.core.model.TestOutcome - Tag provider net.thucydides.core.requirements.FileSystemRequirementsTagProvider@b7838a9 failure
cucumber.runtime.CucumberException: gherkin.ParserException$Composi

[2018-01-11 09:15] wakaleo commented on #1076
Can you provide a sample project that reproduces the issue?

[2018-01-11 10:20] Mitalig commented on #1076
Yes, I wii create a sample project and then pass on the link here by eod.

[2018-01-11 12:00] SergheiRidico commented on #1075
thanks

[2018-01-11 13:26] vikramvi opened #1079 "report generation is broken"
1.8.20 in this version, with command

mvn clean verify -Dcucumber.options="src/test/resources/features/SmavaWebAnalyticsDataTableUserStories.feature"

report generation is not working

[code]
pom.xml

https://gist.github.com/vikramvi/34ed1fad4f38dbfac48b186d702e17ef

[2018-01-11 13:43] wakaleo commented on #1079
It says there are test failures. To generate the report after test failures, yo need to use the maven-failsafe-plugin, not the maven-surefire-plugin

[2018-01-11 14:02] oleksandrkol commented on #1079
Hi, I use latest versions of Serenity, but also have issue with reports.
Dependencies in Gradle:

compile group: 'net.serenity-bdd', name: 'serenity-core', version:'1.8.20'
compile group: 'net.serenity-bdd', name: 'serenity-report-resources', version: '1.8.20'
compile group: 'net.serenity-bdd', name: 'serenity-junit', version: '1.8.20'
compile group: 'net.serenity-bdd', name: 'serenity-gradle-plug

[2018-01-11 14:08] vikramvi commented on #1079
@wakaleo  adding maven-failsafe-plugin fixed the issue.

@oleksandrkol  you can refer to working pom.xml https://gist.github.com/vikramvi/db74c2b65319d938b5d19da0405405ae

I'm closing this issue as resolved working

[2018-01-11 14:08] #1079 closed

[2018-01-11 16:14] dbirch-cognitoiq commented on #993
@cliviu I've finally managed to find some time, and after some poking about, managed to reproduce the issue using your POC project after a bit of a tweak.

It looks like your demo app was using WebElement in the page object class, which would have meant it was never running the code (or finding nothing to do when it did) which instantiates the WebElementFacade objects in the page (which is where m

[2018-01-11 16:57] murthysp commented on #740
it worked for me.

[2018-01-11 22:27] cliviu commented on #993
Ok, thanks for looking into this. What was your workaround ?

[2018-01-12 09:20] dbirch-cognitoiq commented on #993
What do you mean, what was my workaround? I'm not sure I have one beyond either using the 1.5.2 version of serenity, or not using the WebElementFacade class in my page objects.

[2018-01-12 10:36] #1075 closed

[2018-01-12 13:21] SergheiRidico commented on #1075
Would you mind to create new serenity-core version in maven repository.

[2018-01-12 15:41] dbirch-cognitoiq commented on #993
@cliviu Just to confirm, as a reproduction scenario, I took your appium-hybrid-poc code linked above, changed one of the WebElement members to a WebElementFacade ad reproduced the issue I described.

I'm still not confident enough with how the Serenity code works to be able to fix this one for myself, but I am slowly improving!

[2018-01-15 06:55] Mitalig commented on #1076
Hi @wakaleo
The above issue is occurring when we comment any line in feature file using **#**.

I feel this should be resolved because when we run using cucumber, **#** is allowed in feature to comment the line in the feature file.

[2018-01-15 07:06] wakaleo commented on #1076
"gherkin.ParserException$CompositeParserException: Parser errors" indicates a Gherkin syntax error, so the problem is most likely coming from the feature files. However, comments using # work fine both in Cucumber and in Serenity, so this would not be the problem. What does your feature file look like?

[2018-01-15 07:14] Mitalig commented on #1076
Hi @wakaleo ,
It looks like following:

Feature: To Test Authenticate TruCaller Api.

  @mintpro
  Scenario Outline: To test authenticate trucaller api with different data.
    Then Check whether the get request response <Response Code> is correct having <Data>
      | EndPoint        | FileName          | Content Type |
      | /abc/status    | abc.txt              | json                 |

    #

[2018-01-15 07:37] wakaleo commented on #1076
That’s not valid gherkin. You can’t have a scenario outline without examples and you can’t have example columns without the Examples taf

[2018-01-15 07:51] Mitalig commented on #1076
Hi @wakaleo ,
I am just using using it to comment that feature file. It skips that feature file while running with cucumber. But in case of serenity, it is throwing a parsing error while it works fine with cucumber-jvm.

[2018-01-15 07:55] wakaleo commented on #1076
It skips it because it’s not valid Gherkin. Serenity can’t just skip it, it needs to render it. So you need valid Gherkin.

[2018-01-15 07:57] Mitalig commented on #1076
Okay. Thank you so much for your inputs.

[2018-01-15 07:57] #1076 closed

[2018-01-15 11:47] JohannesDorn opened #1080 "Exception in thread "main" java.lang.NoClassDefFoundError: org/openqa/selenium/interactions/internal/Locatable"
I have tried using Serenity to create Selenium tests in Gherkin files.
When running my tests, I get a NoClassDefFoundError:

Exception in thread "main" java.lang.NoClassDefFoundError: org/openqa/selenium/interactions/internal/Locatable

My POM has dependencies on _net.serenity-bdd:serenity-core:1.8.21_ and _net.serenity-bdd:serenity-junit:1.8.21_ as well as _net.serenity-bdd:serenity-cucumber:1.6.

[2018-01-15 12:42] wakaleo commented on #1080
That error would be due to a dependency conflict in your project, most likely an older version of Serenity.

[2018-01-15 14:14] wakaleo commented on #1080
It looks like a selenium library version conflict

[2018-01-15 14:17] JohannesDorn commented on #1080
I agree. Do you know which version of Selenium is compatible? I have tried to find a version that has the required _org/openqa/selenium/interactions/internal/Locatable_ but to no avail.

[2018-01-15 14:19] wakaleo commented on #1080
I think it is 3.8.1, but the simplest is usually just to let Serenity bring it in

[2018-01-15 15:16] JohannesDorn commented on #1080
That's what I am doing.

I've executed _mvn dependency:tree_ and interestingly, _selenium-api_ is brought in in version 2.53.1 rather than 3.8.1 which explicitly asked for in the serenity-core POM. _selenium-api_ is where Locatable lives. The 3.8.1 version has it at the correct location.

I am at a loss why 2.53.1 is brought in. Some dependencies are brought in as 2.53.1, some as 3.8.1.

[2018-01-15 17:54] risinek opened #1081 "PageFactory fix is not working since 1.8.0"
Hello,
we just updated dependencies in maven project, and found out that the PageFactory is not resolving issue, when _Can not set io.appium.java_client.MobileElement field com.*******.emailField to org.openqa.selenium.remote.RemoteWebElement_ error appears, when using MobileElements on Pages.
Seems like this code does not work since 1.8.0.. I can't figure out, what's wrong and how to use it now w

[2018-01-15 18:01] wakaleo commented on #1081
I believe this is a known bug in the appium Java client. Have you tried with 1.8.21 which uses the latest appium beta version?

[2018-01-15 18:30] wakaleo commented on #1080
There is most likely a dependency in your pom that uses selenium 2.53, which is taking precedence.

[2018-01-15 18:39] risinek commented on #1081
Thanks for you answer, it is probably same issue as you mentioned - #1053.. I tried again with serenity 1.8.21, java-client 6.0.0-BETA2 and appium server 1.7.1, but still the same problem. I will follow that 1053 issue for more info.

[2018-01-15 18:39] #1081 closed

[2018-01-15 21:17] CamiloCode commented on #1053
@vikramvi @ricardorlg @wakaleo I was trying serenity version 1.8.3 and serenity cucumber version 1.6.6. appium java client 5.0.4 and 6.0.0-BETA2 . as @vikramvi I tried MobileElement and RemoteWebElement , When I changed the annotation to @FindBy(id = "org.wordpress.android:id/login_button") . it worked. not sure about the root cause but i guess is something related to the annotation @AndroidFindBy

[2018-01-15 21:29] ricardorlg commented on #1053
Its related to PageObject factory init of Appium, I'm working on this @vikramvi

[2018-01-15 21:47] CamiloCode commented on #1053
for now best option , for supporting both devices.   @FindAll({@FindBy(xpath = "//android.widget.Button[@text='Log In']"), @FindBy(xpath = "//XCUIElementTypeButton[@label='Log In']")}) .  , you can set both selectors for IOS and Android and it will look for both strategies.

[2018-01-16 01:00] ricardorlg commented on #1053
Looks like is ignoring appiumfielddecorator I'm going to try using custom web driver, anyway I think is time to review appium integration.

[2018-01-18 01:31] yemo commented on #976
I have the same problem when executing gradle in command line to run test.  Not sure how 'aggregate' works and where it collects previous run project report files. two projects are in different folders, the report data source may come from memory.

[2018-01-18 06:52] wakaleo commented on #976
The aggregate task collects the JSON test outcomes from the output directory (usually target/site/serenity) and converts them into an aggregate report. The only way I could imagine it generating test results from two projects is if the two projects produce results to the same target directory.

[2018-01-19 05:55] nkhand opened #1082 "Execution serenity-reports of goal net.serenity-bdd.maven.plugins:serenity-maven-plugin:1.8.21:check failed: THUCYDIDES TEST FAILURES: ERROR COUNT: 0 FAILURE COUNT: 1 COMPROMISED COUNT: 0"
While executing Serenity:Check Goal to trigger build failure if Failed Tests , SERENITY TEST OUTCOMES are shown properly and Build Failure is triggered , but after that always getting below error :

Execution serenity-reports of goal net.serenity-bdd.maven.plugins:serenity-maven-plugin:1.8.21:check failed: THUCYDIDES TEST FAILURES: ERROR COUNT: 0 FAILURE COUNT: 1 COMPROMISED COUNT: 0
Caused by: ne

[2018-01-19 06:41] wakaleo commented on #1082
That looks like the normal behaviour; the plugin throws an exception with an error message if there are failures. What behaviour are you expecting?

[2018-01-19 07:10] wakaleo commented on #1082
A system exit could interfere with other plugins

[2018-01-19 07:12] wakaleo commented on #1082
Feel free to do some research on maven plugins and propose a PR if you find a more elegant solution

[2018-01-19 09:28] mohamedzouaghi opened #1083 "How to send email/notification with report summary"
Hi there,

I'm using Serenity (1.8.1) with cucumber (1.6.5) and I'd like to send email/notifications (at the end of the test) with summary of test outcomes. From what I found in documentation, I don't think this option is proposed by Serenity. That's fine, I can write down an emailer module myself. But I need to know two things:
1- Where can I put the emailer-call? Meaning, which class is run afte

[2018-01-19 13:48] wakaleo commented on #1083
This would normally be something you would do with your CI server (e.g. on Jenkins). Do you have a use case where it is not done in a CI context?

[2018-01-19 17:43] mohamedzouaghi commented on #1083
Ok so from your reply I understood there was some helper that could generate java classes from JSON output files. And thus can be used to send emails?
So I went ahead and tested net.thucydides.core.reports.TestOutcomes and its seems to be working pretty well (Even though I only tried a simple example). Ok fair enough. I can add a Jenkins step that do this job.

The only downside though, is when we

[2018-01-22 08:02] Ajeshks2510 opened #1084 "Not all list of markdown types are suported in 'serenity-junit' HTML index report."
<serenity.version>1.8.21</serenity.version>
<serenity.maven.version>1.8.21</serenity.maven.version>
<artifactId>serenity-junit</artifactId>

Final index report generated with Markdown enabled at "enable.markdown=step" level are not formatted as per 'Markdown-Cheatsheet'[Reference:](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).
As per the issue [#545](https://github.com/serenit

[2018-01-22 08:28] wakaleo commented on #1084
What you are looking for is not possible in markdown; the markdown support is designed for emphasis or simple formatting, not for extensions to the reporting template. We use Flexmark (https://github.com/vsch/flexmark-java/wiki) for the markdown rendering, which supports most standard Markdown tags.

[2018-01-22 08:30] cliviu commented on #1081
@risinek: I have a question: What happens when you are using a version > 1.8.0   but no AppiumPageObject but normal PageObject ?

[2018-01-22 08:36] risinek commented on #1081
AppiumPageObject is just extended PageObject, I created it to add PageFactory config.. If I use directly PageObject, it should be the same as removing he PageFactory line

[2018-01-22 09:14] Ajeshks2510 commented on #1084
@wakaleo Appreciated!
Can you tell me why basic markdowns such as **Heading, indenting, lists, marking** are not working with report. I am using "0.26.4" of flexmark-java. Is there any specific configuration is required for applying standard formatting?
As pointing to my need of adding an extension to Current HTML report is possible?

[2018-01-22 09:15] cliviu commented on #1081
@risinek, and, when you remove the PageFactory line, still have the issue ?

[2018-01-22 09:39] risinek commented on #1081
yes

[2018-01-22 11:28] risinek commented on #1053
@CamiloCode what was the element type? MobileElement? Because your solution does not work for me even with similar setup. Using serenity 1.8.21, javaclient 6.0.0-BETA2 selenium 3.8.1,
[code]
throws
`java.lang.IllegalArgumentException: Can not set io.appium.java_client.MobileElement field com.****.emailField to org.openqa.selenium.remote.RemoteWebElement$$EnhancerByCGLIB$$d27c0df4
`

[2018-01-22 12:35] cliviu commented on #993
Ok, thanks, I will take a look

[2018-01-22 13:23] CamiloCode commented on #1053
@risinek no , I'm not using MobileElement, I also tried WebElementFacade and It didnt work. Im using WebElement . and it should work. we try to avoid using @ annotations from AppiumFieldDecorator AndroidFindBy and iOSFindby as those are broken in the new version. simply using @FindBy from Selenium and WebElement should work.

[2018-01-22 14:07] cliviu commented on #1053
I will take a look on this issue

[2018-01-22 14:15] CamiloCode commented on #1053
@cliviu which one strategies @AndroidFindBy / iOSFindBy or the issue with the mobileWebElement?

[2018-01-22 14:19] risinek commented on #1053
Ok find the cause of this - https://github.com/serenity-bdd/serenity-core/pull/1029 ... If I revert this file and make a new build from 1.8.21, it works again..

[2018-01-22 14:21] CamiloCode commented on #1053
@risinek I saw this commit and I thought it has to do with the issue. I think we should investigate further. maybe it needs more than fixing that bug.

[2018-01-22 14:29] cliviu commented on #1053
@risinek, I agree, it looks like this change causes problems

[2018-01-22 14:30] CamiloCode commented on #1053
@risinek could you please check what makes it fail after this bug fix ?

[2018-01-22 14:46] cliviu commented on #1053
the change will be reverted soon

[2018-01-22 14:54] risinek commented on #1053
@CamiloCode sorry, I'm busy right now. I just managed to locate the commit and fix it on my own. I don't understand how those PageFactories work very much, so I would need to spend more time on it to track what makes it fail..

[2018-01-22 15:01] nbarrett commented on #1071
My project workaround has been to physically re-write the `serenity.conf` property at run-time but I'd like to not have to do this. Any thoughts please @wakaleo ?

[2018-01-22 18:03] gkushang opened #1085 "xPath.compile fails to differentiate between CSS or xPath, and it fails the locator strategies"
**This is a valid CSS:** `some-state>div>h4`.

**Serenity TARGET:**
``` public static final Target LABEL = Target.the("Some Label").locatedBy("some-state>div>h4");```

We want to find an element by CSS, and above Target definition is correct as per Docs. But because the xpath.Compile in `net.serenitybdd.core.selectors` fails to identify it's a CSS, it returns as By.xPath - which is a wrong assumpt

[2018-01-22 18:29] #1085 closed, assigned to nobody

[2018-01-22 20:50] wakaleo commented on #1085
You need to do
[code]

[2018-01-22 21:16] gkushang commented on #1085
yeah, it's an option and other option would be to,

[code]

I wondered becasue the doc says `locatedBy` can take either CSS or xPath but somehow the XPathFactory fails to differentiate at compilation.

Thanks @wakaleo, for the quick response!

[2018-01-22 21:49] yemo commented on #976
First time I seen this problem is on our Bamboo server. I don't think Bamboo agent check out two projects into same directory. I checked the Bamboo agent, two projects in different directories, and their outcomes in their own directories target folder.
It also happen on my local machine occasionally. After I ran one project, I ran the other project. Even I deleted the second project's target folde

[2018-01-23 09:37] GianniGiglio opened #1086 "BeanMatcherAsserts: java.lang.NullPointerException when value is null"
Hi,

nullpointer in methode: private static String beanDescription(Object bean)

    propertyTerms.add(propertyValueOf(descriptor.getDisplayName(), getter.invoke(bean).toString()));

if getter.invoke(bean) returns null then calling toString causes nullpointer

[2018-01-23 09:39] wakaleo commented on #1086
Thanks for spotting this; could you suggest a PR for a fix?

[2018-01-23 10:05] dbirch-cognitoiq commented on #993
Many thanks :)

[2018-01-23 11:03] wakaleo commented on #1086
That should work. Could you create a PR with a unit test or two?

[2018-01-23 16:05] dbirch-cognitoiq commented on #993
One other quick point of note, using a ProvidedDriver and setting up my AppiumDriver instance in a class extending DriverSource, rather than relying on the Serenity automatic driver setup, it seems I can sidestep this issue and see some other issues with the latest appium.

Not sure what the difference is via this approach, but thought I'd mention it in case it helps track it down!

[2018-01-23 17:02] dbirch-cognitoiq opened #1088 "Issue initializing page object elements with appium and a ProvidedDriver"
I'm seeing some issues currently using serenity 1.8.20 and appium 6.0.0-BETA1, I was previously using the webdriver.driver=appium property in my serenity.properties file and letting serenity handle my driver instance, this resulted in #993 which is currently being fixed.

As a separate piece of work, I have changed my driver over to use the provided property, with my own class extending DriverSour

[2018-01-23 17:40] cliviu commented on #1088
A new rc version will be available soon

[2018-01-24 11:27] thokari opened #1090 "Exclude selenium-dependency"
Hi, I noticed that `serenity-junit` has a transitive dependency on Selenium, which i don't need, and since Selenium is a *pretty big* library, I wanted to exclude it.

Getting this error tough:
[code]

I am pretty sure I do not depend on Selenium...
Any idea what might be the problem here?

[2018-01-24 12:24] thokari opened #1091 "Remove ASCII-art-logging"
Serenity prints huge banners before and after every test
TEST STARTED
:-) TEST PASSED
etc.

I find this unnecessarily takes up a lot of screen space, and is also not needed, because at least in my case, I am always using the search function to navigate logs.

Also, the smiley faces might give a ... weird or wrong impression, since it is not at all obvious that it originates from the framework and

[2018-01-24 13:09] wakaleo commented on #1091
[code]

[2018-01-24 13:11] wakaleo commented on #1090
Currently `serenity-core` needs Selenium, even if you don't use it.

[2018-01-24 13:55] thokari commented on #1090
Ok, thanks!

[2018-01-24 13:55] #1090 closed

[2018-01-24 13:56] thokari commented on #1091
Yes, I know about that one, but I *do* want the start and end of Steps to get logged...

[2018-01-24 13:58] GianniGiglio commented on #1086
Sure

[2018-01-24 14:00] wakaleo commented on #1091
That would be an easy PR if you want to an another logging level - have a look at the ConsoleLoggingListener class.

[2018-01-24 14:03] thokari commented on #1091
I am right now, wondering if `THUCYDIDES_CONSOLE_HEADINGS = MINIMAL` could possibly do the trick already. I might submit a PR.

[2018-01-24 14:05] wakaleo commented on #1091
Indeed, that might do the trick as well.

[2018-01-24 14:06] thokari commented on #1091
Apparently it does! Closing this issue :)

[2018-01-24 14:06] #1091 closed

[2018-01-24 14:28] dbirch-cognitoiq commented on #1088
@cliviu Is it worth me grabbing the current codebase and trying this against head to confirm I no longer see the issue? Been thinking of taking a fork and have a go at fixing some of the issues I'm finding so may as well get used to building serenity :)

[2018-01-24 14:33] cliviu commented on #1088
my PR is merged (https://github.com/serenity-bdd/serenity-core/commit/4553a4eab1c7ff51a4d86c19c87f847195534245) . I've tested yesterday with my hybrid application and I was able to use WebElementFacade instead of WebElement. Either you wait until the new rc version is published or you build serenity head.

[2018-01-24 16:02] cliviu commented on #1053
serenity-core 1.8.22-rc.2 is on Bintray, please try it. It should work now by using directly WebElementFacade. The annotations AndroidFindBy and iOSFindby  should work.

[2018-01-25 08:35] cliviu commented on #1088
Version 1.8.22-rc.2 is on Bintray

[2018-01-25 15:02] asvdw opened #1092 "no report when using cucumber, examples and not tags (!)"
Hello,
Since a few releases I have a strange problem generating reports after tests using cucumber (jvm). That's ok using serenity 1.5.11 and serenity.cucumber 1.5.13, but with any newer versions tests run fine but aggregate says something like:
[code]
Then of course reports are empty
I was finally able to reproduce it, that was not easy !
**Steps**
* mvn archetype:generate, select Serenity jvm, l

[2018-01-25 15:11] VPazzini commented on #637
Hey Vikram, thaks a lot for the answer.

I am still trying to run my JBehave test on a selenium grid. Everything is working fine, but now I want to make it work in parallel. I need to run the same tests on several nodes at the same time, my first attempt was to run the build twice with different parameters:

-Dappium.hub=http://0.0.0.0:4723/wd/hub -Dwebdriver.driver=appium -Dappium.platformName=an

[2018-01-25 15:14] CamiloCode commented on #1053
@cliviu so now I dont need to use AppiumFieldDecorator, just extends from PageObject (serenity-bdd) and declare my elements as WebElementFacade and I should able to use @AndroidBy and @iOSFindBy?

[2018-01-25 15:28] cliviu commented on #1053
@CamiloCode yes, it should work now

[2018-01-25 15:34] CamiloCode commented on #1053
public class LoginPage extends PageObject {

  @AndroidFindBy(id = "org.wordpress.android:id/login_button")
  @iOSFindBy(xpath = "//XCUIElementTypeButton[@label='Log In']")
  private WebElementFacade WPLogInButton;

  public void loginPageClick() {
    WPLogInButton.click();
  }

}

Not working.

ERROR net.serenitybdd.core.Serenity - The following error occurred: Expected enabled element was not e

[2018-01-25 15:40] cliviu commented on #1053
Do you have  a stack trace ?

[2018-01-25 15:43] risinek commented on #1053
@CamiloCode I guess there will be some differences between WebElementFacade and MobileElement and its methods..

[2018-01-25 15:44] CamiloCode commented on #1053
net.serenitybdd.core.exceptions.SerenityManagedException: The following error occurred: Expected enabled element was not enabled
	at net.serenitybdd.core.pages.WebElementFacadeImpl.waitUntilEnabled(WebElementFacadeImpl.java:968)
	at net.serenitybdd.core.pages.WebElementFacadeImpl.waitUntilElementAvailable(WebElementFacadeImpl.java:807)
	at net.serenitybdd.core.pages.WebElementFacadeImpl.click(WebE

[2018-01-25 16:37] CamiloCode commented on #1053
@cliviu forgot to mention that I have a custom driver that implements DriverSource. its just an AndroidDriver. so I guess it doesnt have anything to do with the error.

[2018-01-25 19:37] MOPBernie commented on #661
@vikramvi do you have any info if they are planning fix issues related to serenity + appium integration, still have the same issue and cannot use @AndroidFindBy...

Thank you in advance!

[2018-01-25 21:40] manobigdata opened #1093 "net.serenitybdd.core.exceptions.SerenityManagedException: Timed out after 30 seconds. Element not available Build info: version: '3.4.0', revision: 'unknown', time: 'unknown' System info: host: 'SystemName', ip: '2600:80b:18:48:3429:86a0:e836:ef70', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.12.6', java.version: '1.8.0_77' Driver info: driver.version: unknown"
I got the below error

[31mFailed scenarios:[0m

[31maudience_crud.feature:12 [0m# Scenario Outline: Monitor if error is present in DashBard on Login

1 Scenarios ([31m1 failed[0m)

4 Steps ([31m1 failed[0m, [36m3 skipped[0m)

0m32.921s

net.serenitybdd.core.exceptions.SerenityManagedException: Timed out after 30 seconds. Element not available

Build info: version: '3.4.0', revision: 'unknown', ti

[2018-01-25 21:43] wakaleo commented on #1093
That looks like a WebDriver library/browser compatibility issue or dependency conflict.

[2018-01-25 21:45] manobigdata commented on #1093
My Chrome Browser is 64 and WebDriver 3.4

[2018-01-25 22:05] wakaleo commented on #1093
Most likely a version conflict between the webdriver version you declare and the one Serenity is using.

[2018-01-25 22:07] manobigdata commented on #1093
Can you help out to figure the conflict?

[2018-01-25 22:22] wakaleo commented on #1093
Have a look at https://github.com/serenity-bdd/serenity-jbehave/tree/master/src/smoketests for a working example. Try removing your own declarations of dependencies that Serenity uses (notably the WebDriver ones).

[2018-01-25 22:28] manobigdata commented on #1093
But how come its working in my PC?

[2018-01-25 22:38] wakaleo commented on #1093
It could be a problem with the version of the chromedriver binary

[2018-01-25 22:39] manobigdata commented on #1093
could you please more specific of declarations of dependencies.

[2018-01-25 22:46] wakaleo commented on #1093
Can you post your Pom.xml here?

[2018-01-25 22:48] manobigdata commented on #1093
## Please find the my POM here

<groupId>MMI</groupId>
<artifactId>MMI_UI_Automation</artifactId>
<version>0.0.1-SNAPSHOT</version>
<packaging>jar</packaging>

<name>MMI UI Automation</name>

<properties>
	<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
	<serenity.version>1.5.3</serenity.version>
	<serenity.maven.version>1.5.3</serenity.maven.version>
	<serenity.cucumber.version

[2018-01-25 22:49] manobigdata commented on #1093
<groupId>MMI</groupId>
<artifactId>MMI_UI_Automation</artifactId>
<version>0.0.1-SNAPSHOT</version>
<packaging>jar</packaging>

<name>MMI UI Automation</name>

<properties>
	<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
	<serenity.version>1.5.3</serenity.version>
	<serenity.maven.version>1.5.3</serenity.maven.version>
	<serenity.cucumber.version>1.1.8</serenity.cucumber.versio

[2018-01-26 00:28] cliviu commented on #1053
can it be a timeout issue ?  by default  WebElementFacade method waits for the element to be available (for up to 5 seconds, or whatever you configure in the webdriver.wait.for.timeout property) when you call the click() method.

[2018-01-26 06:41] wakaleo commented on #1093
It could be be a transitive dependency conflict, maybe with eyes-selenium-java3 or sikulixapi. Or it could be an issue with the chromedriver binary. Or an issue with the test itself. Very hard to say without seeing the project.

[2018-01-26 15:31] CamiloCode commented on #1053
my implicit wait in the implementation of DriverSource is:

 driver.manage().timeouts().implicitlyWait(60, TimeUnit.SECONDS);

[2018-01-26 15:39] wakaleo commented on #1053
org.openqa.selenium.TimeoutException: Expected condition failed: waiting for LoginPage.WPLogInButton to be enabled (tried for 5 second(s) with 100 MILLISECONDS interval) looks like a test-specific issue.

[2018-01-26 15:40] CamiloCode commented on #1053
@wakaleo if I do try this test with AppiumDecorator (vikram sample) . it works perfectly . (serenity version 1.7.5) above 1.8.x tests are broken

[2018-01-26 22:25] cliviu commented on #1092
hi @asvdw , can you please provide a small project to help us to reproduce the issue ?

[2018-01-26 22:35] cliviu commented on #1088
I have also updated the poc project to use the WebElementFacade

[2018-01-26 23:31] mithuns opened #1094 "Overriding storyPaths does not seem to work, if the story file is in a separate jar"
Hi,

My project structure is in a way, that I have a util project which helps with common tasks, such as creation of some dummy data, and it gets used across several test projects , I have my story file placed inside this jar
at
    src/main/resources/stories/my_story.story
location.

Here is the code that I have

[code]

This is the error I get

[code]

Can someone please help me , as to if this

[2018-01-27 07:02] wakaleo commented on #1094
This is not supported, as JBehave cannot read story files from JAR files.

Actually, this is an example of a common but very bad JBehave anti-pattern - you should **never** use stories as reusable tasks; it takes away from the communication value of the stories, and is harder to maintain. For such reusable tasks, use Serenity step libraries or Screenplay Task objects instead.

[2018-01-27 17:15] mithuns commented on #1094
I am in a situation where I am supposed to run the same tests , but through two different ways, lets say I have an actual implementation jar, then I create a test jar, which tests my implementation jar, then I package it as a java assembly, then I have another jar which has added capability to test my deployed jar ( it calls the server, do some request-reply translation for me).
So, these story fi

[2018-01-27 21:42] cliviu commented on #1053
@CamiloCode, maybe a small project to help us understand the problem and to debug will help to make progress on this issue.

There is a project here where a hybrid mobile application is tested :
https://github.com/cliviu/serenity-appium-hybrid-poc. It currently works using a plain serenity PageObject containing WebElementFacade elements

[2018-01-29 08:36] volnoboy opened #1095 "Timeout for steps"
This is not a bug, but a feature request. I am using Jbehave.

I didn't find any feature similar to Junit: **@Test(timeout = 100)**

Is it possible to have a timeout in @Step annotation or generally set timeout for scenario or story?

story.timeout.in.secs - **is not an option, it is not behaving correctly**

[2018-01-29 08:42] mohamedzouaghi commented on #1083
Guys, does anyone have an answer to this:

Or should I go ahead and close this?

[2018-01-29 11:08] vikramvi commented on #661
@MOPBernie  John has fixed this long time back. Please check https://github.com/vikramvi/AppiumSerenityPOC

[2018-01-29 11:17] asvdw commented on #1092
yes...
https://github.com/asvdw/serenity

[2018-01-29 12:01] risinek commented on #1053
But this doesn't solve issue with MobileElement, which worked before https://github.com/serenity-bdd/serenity-core/pull/1029 ... Will you have time to look into it?

[2018-01-29 12:07] cliviu commented on #1053
hmm, Isn't a WebElement Facade enough ?

[2018-01-29 12:12] risinek commented on #1053
yes, at least it should be. so there is no need to solve it for MobileElement? I'm just curious

[2018-01-29 12:16] cliviu commented on #1053
I'm not sure if there is any need to make it work for MobileElement

[2018-01-29 15:39] mithuns commented on #1095
Are you keeping this property
   ` story.timeout.in,secs=300`
In serenity.properties file at the root of your project ?

[2018-01-29 15:42] wakaleo commented on #1095
story.timeout.in.secs is a JBehave attribute that is not actually related to individual story timeouts - it puts an absolute time limit on your whole test run, and crashes out of the JVM if this timeout is exceeded.

[2018-01-29 15:46] wakaleo commented on #1095
Hard timeouts on tests or steps are generally not a great idea - they are a common cause of flaky tests and random test failures, unless you set them extremely high (in which case, what’s the point?). If you really need this feature in one of your steps , why not just code it yourself in Java?

[2018-01-29 15:54] volnoboy commented on #1095
I keep everything in serenity.properties file. Look, we need this feature, I have already coded it myself. The solution with @Step annotation would be much cleaner. For monitoring production in real time, this is very useful.

[2018-01-30 04:36] ShaliniSujith commented on #949
Hi mryndunch,

I am facing the above mentioned issue. While running the cases I am getting a popup - unable to load extension and I am trying to disable it by mentioning below in serenity.properties file

chrome_preferences.useAutomationExtension = false

But nothing is happening.

Can you please suggest what version or how you have solved it.

Thanks,
shalini

[2018-01-30 04:48] #1084 closed

[2018-01-30 05:10] dineshsundaram commented on #550
Can anyone please tell me the solution addressed to this problem. Am using 1.1.37-rc.6  and facing blank reports as stated in this problem.

wakaleo or RStrizhak: Could you please suggest what solution for this problem?

[2018-01-30 14:29] GrBojan opened #1096 "Double features in serenity report"
After running test with "mvn clean verify" and generating reports there are same feature in two places https://prnt.sc/i7onqi and http://prntscr.com/i7oonp.
And this is the feature file:  http://prntscr.com/i7opeh

[2018-01-30 14:33] wakaleo commented on #1096
Can you provide a sample project to reproduce the issue?

[2018-01-30 14:57] CamiloCode commented on #1053
@risinek is everything wokring for you with WebElementFacade? I try to adapt my code with cliviu sample and it wont work

[2018-01-30 15:15] cliviu commented on #1053
@CamiloCode , is it possible to use an "id" locator instead of "xpath"  just for testing if it works in this case  ?  Thanks

[2018-01-30 15:35] CamiloCode commented on #1053
in @cliviu sample its using SerenityRunner , IM using CucumberWithSerenity Runner, do you think it has something to do ? , the only difference between my code and your sample is that and also that im using a custom driver . implementing DriverSource

[2018-01-30 15:59] risinek commented on #1053
Yes, all tests are green when I replaced all MobileElements with WebElementFacade type.. I'm using ```
@AndroidFindBy(xpath = "etc")
WebElementFacade email;
[code]

[2018-01-30 20:04] CamiloCode commented on #1053
@risinek can we follow this in https://serenity-bdd.rocket.chat/channel/general ?

[2018-01-30 23:46] cliviu commented on #1092
thanks for your help, I will analyse the issue

[2018-01-31 07:06] GrBojan commented on #1096
Here is a demo project: https://github.com/GrBojan/demoProjectSerenity

[2018-01-31 16:15] nbarrett opened #1097 "How to get the description of a Performable?"
I've got some `Interactions` in my project that manage browser windows e.g. ensure that the number of browser windows increase or decrease, following the performing of another task. However I'm having trouble getting the description of the injected `Performable`  to annotate the browser management task. In the below example a regular `toString()` of the `Performable` doesn't work:
[code]
Is there

[2018-01-31 16:38] CamiloCode commented on #1053
@cliviu I do use Ids instead of xpaths . it isnt working. as I mentioned I dont use SerenityRunner. just CucumberWithSerenity Runner and I do use Pageobjects and I do super(driver) of the page object im working on.  as I mentioned is it possible to follow the thread in the rocket chat?

[2018-02-01 04:34] cliviu commented on #1053
@CamiloCode , no problem , we can discuss this in the rocket chat. I'm not sure what is your id there. Nevertheless, can you try it with a  plain AndroidDriver ? Maybe there is something different with your implementation of the DriverSource.

[2018-02-01 05:15] sampadrout opened #1098 "Is not working - click action"
I am using latest serenity.version = 1.8.21 and appium version 1.7.2. Below click action is not working:
@FindBy(id="com.thinkrite.assistant:id/buttonSignIn")
private WebElementFacade signIn;

public void enterCredentials(){
		element(signIn).waitUntilClickable().click();
	}
Any solution here!

[2018-02-01 05:45] nkhand opened #1099 "Serenity Reports including tests which are not executed"
Hi
Serenity Reports are showing tests which are not executed at all . I am executing just 1 test ( having 2 scenarios ) , but aggregate report is showing results for 5 tests .  Serenity version used : **1.8.21**

From console log :

(AfterStories)
Reports view generated with 2 stories (of which 0 pending) containing 2 scenarios (of which 0 pending)

[INFO] --- serenity-maven-plugin:1.8.21:aggregat

[2018-02-01 05:51] nkhand commented on #1099
I guess actual issue is for each execution session , reports are getting added over and not overwritten .Could you help how to make reports overwritten and not appended .

[2018-02-01 06:00] wakaleo commented on #1099
Aggregate and Check will find all the test results in the target directory, not only the ones you just ran. If you want an aggregate report for only the tests you just ran, run mvn clean first

[2018-02-01 06:10] cliviu commented on #1092
@asvdw , thanks for spotting the issue

[2018-02-01 06:16] cliviu commented on #1098
hi, @sampadrout , please always define "is not working" when you are reporting a problem with some stack trace or some description of the failure.

Can you please try serenity-core 1.8.22-rc.2 ?

[2018-02-01 06:19] sampadrout commented on #1098
Updated the subject. Here is the stack trace.
[HTTP] --> POST /wd/hub/session/d0504b0e-a685-4629-9bf0-90357c5a1d28/element {"using":"id","value":"com.thinkrite.assistant:id/buttonSignIn"}
[debug] [MJSONWP] Calling AppiumDriver.findElement() with args: ["id","com.thinkrite.assistant:id/buttonSignIn","d0504b0e-a685-4629-9bf0-90357c5a1d28"]
[debug] [BaseDriver] Valid locator strategies for this reque

[2018-02-01 06:22] sampadrout commented on #1098
Well i am closing this issue as i got the root cause. Thanks for you time.

[2018-02-01 06:22] #1098 closed

[2018-02-01 06:25] nkhand commented on #1099
Thanks @wakaleo  . My Maven goal in Eclipse is set to clean verify .

[2018-02-01 10:53] sampadrout opened #1100 "How to use latest appium java client and selenium java client"
When i have checked the appium java client version downloaded with serenity core, found that its 4.0 while the latest one is 6.0. If i want to use the latest java client, then how i can do that?

[2018-02-01 12:23] wakaleo commented on #1100
Use the latest version of Serenity

[2018-02-01 12:42] PadmajaSampath opened #1101 "Serenity - Wait for Angular (asynchronous script timeout: result was not received in 30 seconds)"
Hi,

We are trying to use Selenium to automate the Angular JS application and have our wait function as below. (Suggested by Serenity)

 public void waitForAngularRequestsToFinish() {
        if ((boolean) getJavascriptExecutorFacade().executeScript(
                "return (typeof angular !== 'undefined')? true : false;")) {
            getJavascriptExecutorFacade()
                    .executeAs

[2018-02-01 13:14] wakaleo commented on #1101
Have you tried using the ngWebDriver implementation:
[code]

(This method is the current implementation in the Serenity PageObject, so if you are inside a Serenity PageObject, you can just call this method directly)

[2018-02-01 13:33] wakaleo commented on #1099
What are you seeing in the reports?

[2018-02-01 14:06] PadmajaSampath commented on #1101
Thanks. We thought of using the custom built code than the NgWebdriver library.

Is this what is recommended by Serenity for Angular Apps ?

[2018-02-01 14:08] nkhand opened #1102 "logOutcomesFrom(outcomes.get()) method in ResultChecker does not print Result Outcomes"
Hi

Observed that when using Serenity Check Goal , Serenity outcome details are not logged  :
Even though from ResultChecker.java , it should have called "    logOutcomesFrom(outcomes.get()) method " for logging , and then called "checkTestResultsIn(outcomes.get()) " for simulating failure , but as in below case , it sometimes just calls checkTestResultsIn(outcomes.get()); . Any reason why this mi

[2018-02-01 14:22] PadmajaSampath commented on #1101
BTW, We are using Serenity Core BDD 1.4.0 version

[2018-02-01 14:27] wakaleo commented on #1101
ngWebDriver was added since then. Yes, it is the preferred solution.

[2018-02-01 16:54] CamiloCode commented on #1053
@cliviu my id is hackcode in rocket chat, but ill copy here my implementation of DriverSource:

public class Android implements DriverSource {

  @Override
  public WebDriver newDriver() {
    DesiredCapabilities capabilities = new DesiredCapabilities();
    EnvironmentVariables properties = SystemEnvironmentVariables.createEnvironmentVariables();
    capabilities.setCapability(MobileCapabilityTyp

[2018-02-01 17:05] andriyyarish commented on #550
dineshsundaram, did you try to perform : ""clean serenity:aggregate verify" - it generates empty report and resources in site/serenity after clean then within "verify" run tests and perform aggregate one more time" as described before ?

[2018-02-01 18:01] kutzi commented on #1092
Thanks for the fix. When can we expect a new release containing the fix?

[2018-02-02 04:44] sampadrout commented on #1100
Closing the issue

[2018-02-02 04:44] #1100 closed

[2018-02-02 10:53] nkhand commented on #1102
This is not a Serenity Issue , but logger Issue ( due to missing slf4J Jar ) . So closing this issue .

[2018-02-02 10:53] #1102 closed

[2018-02-02 12:45] wakaleo commented on #1083
Cucumber doesn't have any hooks that to run after all of the tests are finished, only the @After annotation which runs after each scenario.

[2018-02-02 12:46] wakaleo commented on #1074
Closing as this is a dependency conflict and not a Serenity defect.

[2018-02-02 12:46] #1074 closed

[2018-02-02 12:46] wakaleo commented on #1080
Closing due to lack of activity.

[2018-02-02 12:46] #1080 closed

[2018-02-02 14:51] mikeastarb opened #1103 "[Help] JUnit Manual Step Output in Report"
Hello, I am using Serenity 1.8.21 to run a suite of JUnit tests. I have a group of tests that I would like to mark as manual but also have something in the Steps in the HTML report. Currently, my tests seem to be ignored completely and under "Manual Steps" nothing is listed.

Currently, I am marking the tests with the @manual annotation and have stepped through the code to see what happens. Lookin

[2018-02-02 15:02] sampadrout opened #1104 "The page object class looks dodgy"
When i am running the serenity test for appium, getting the error: The page object class XXX looks dodgy: Failed to instantiate page (java.lang.IllegalArgumentException: Can not set net.serenitybdd.core.pages.WebElementFacade field XXX to org.openqa.selenium.remote.RemoteWebElement$$EnhancerByCGLIB$$d27c0df4) Any help here?

[2018-02-02 15:59] cliviu commented on #1104
Please use serenity-core 1.8.22-rc.2

[2018-02-03 07:32] sampadrout commented on #1104
It works fine now. Thanks a ton.

[2018-02-03 07:32] #1104 closed

[2018-02-05 11:49] PadmajaSampath opened #1105 "A recursive or cyclic reference was detected for the @Steps-annotated"
Hi,

We just updated the Serenity Version from **1.4.0** to **1.8.20** to take advantage of the WaitforAngularRequest implemented using NgWebDriver and we get the below error.

net.thucydides.core.steps.RecursiveOrCyclicStepLibraryReferenceException: A recursive or cyclic reference was detected for the @Steps-annotated

Project compiled successfully and using jdk 1.8.0.

Any help on this would be

[2018-02-05 12:09] wakaleo commented on #1105
This isn't a bug; in 1.8.x we use a different sharing strategy for @Step libraries. Each step library field is an individual instance, so you can have cyclic references if a step library refers to itself (directly or indirectly). The solution is to use the "shared" attribute (see https://wakaleo.gitbooks.io/the-serenity-book/content/step-libraries).

[2018-02-05 17:19] PadmajaSampath commented on #1101
Hi Wakaleo,

Tried with 1.8.20 (Serenity -Core) and we still get a timeout with 0 seconds error wherever we use waitForAngularRequestsToFinish().

Below is the implementatin from the PageObject Class.

public void waitForAngularRequestsToFinish() {
        JavascriptCompatibleVersion.of(getDriver()).ifPresent(
                driver -> new NgWebDriver(driver).waitForAngularRequestsToFinish()

[2018-02-05 17:20] PadmajaSampath commented on #1101
Same script works when tried with implicit waits removing waitForAngularRequestsToFinish()

[2018-02-05 18:18] s1apped opened #1106 "Serenity Report generation and display problems"
Hi,

I'm using Serenity With Cucumber. After updating to newest version (1.8.21)and adding serenity-report-resources there are errors in Jenkins Console but report seems to be generating:

FreeMarker template error:
An error has occurred when reading existing sub-variable "overview"; see cause exception! The type of the containing value was: extended_hash+string (net.thucydides.core.requirements.r

[2018-02-06 00:54] faragm commented on #962
Hello,

I am facing same issue with my tests after upgrading the versions.

Issue exists with serenity_version "1.8.21" & serenity_jbehave_version "1.35.0"
![se1_8_21_jb_1_35_0](https://user-images.githubusercontent.com/26570742/35836256-9c54296c-0adf-11e8-89a0-cefd9df9557d.PNG)

No issue with older serenity_version "1.5.11"   serenity_jbehave_version "1.22.0"
![se1_5_11_jb_1_23_0](https://user-im

[2018-02-06 08:43] beetlezhuk opened #1107 "Question - when and why use @Feature annotation"
Just curious when this annotation should be used, how it influences the report?

Thank you in advance.

[2018-02-06 10:15] asvdw commented on #1092
Thank you, I'll have a look asap !

[2018-02-06 11:59] dimitarVladov commented on #962
Thanks for the information faragm I'll need to have a look on that but no
time until now.

On Tue, Feb 6, 2018 at 2:54 AM, faragm <notifications@github.com> wrote:

--
*Dimitar Vladov *

[2018-02-06 13:23] kutzi opened #1108 "If taking screenshot fails because of driver issues, test is not included in BDD report"
Occassionally we have chrome driver issues when trying to take a screenshot after a failed test. E.g.

[code]

[2018-02-06 13:39] kutzi commented on #1108
As far as I can see, this could be fixed by catching exceptions in PhotoSession.
See https://github.com/serenity-bdd/serenity-core/pull/1109

[2018-02-06 15:47] kubagruszka commented on #1068
Currently I'm not able to provide a sample project but we have planned to make it.

[2018-02-07 06:38] RemonSinnema opened #1110 "Gradle plugin not compatible with Gradle 5.0"
I'm getting the following warning when running `serenity-gradle-plugin` 1.8.21 with Gradle 4.5.1:

[code]

[2018-02-07 07:15] sampadrout opened #1111 "Failed to start appium driver instance"
When i am trying to start appium server, it throws connection refused. I am using serenity core v1.8.22-rc.2. Below is the error:
FAILED TO CREATE NEW WEBDRIVER_DRIVER INSTANCE class io.appium.java_client.AppiumDriver: Could not instantiate new WebDriver instance of type class io.appium.java_client.AppiumDriver (Connection refused

[2018-02-07 08:23] sampadrout opened #1112 "Could not find artifact net.serenity.plugins.jira:serenity-jira-requirements-provider:jar:1.8.0 in central (http://jcenter.bintray.com)"
I have the following POM.xml. When running this, i am getting error Could not find artifact net.serenity.plugins.jira:serenity-jira-requirements-provider:jar:1.8.0 in central (http://jcenter.bintray.com).

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.o

[2018-02-07 09:49] sampadrout commented on #1112
My pom.xml file was incorrect. Closing this ticket.

[2018-02-07 09:49] #1112 closed

[2018-02-07 11:28] vikramvi commented on #1111
@sampadrout you can try https://github.com/vikramvi/AppiumSerenityPOC and let me know if you still face above error

- appium server starting and stopping needs to be handled by your code, Serenity can't do those actions for you

[2018-02-07 11:30] vikramvi opened #1113 "Keeping browser open for entire feature file is not working"
I've multiple user stories under feature file and I run it as below

[code]

But I've observed that after each of the user stories execution browser is getting closed.

`serenity.use.unique.browser = true
`
didn't work either.  Please review

[2018-02-07 11:33] vikramvi commented on #1070
@risinek currently I handle as below https://github.com/vikramvi/AppiumSerenityPOC/blob/master/serenity.properties

But in this setup you can run on either of Android or iOS

[2018-02-07 11:47] wakaleo commented on #1113
The Serenity/Cucumber integration manages it's own driver, the @Managed annotation is only used for JUnit. Try:

[code]

[2018-02-07 12:16] sampadrout opened #1114 "jira description not fetched by the report"
### I have the following in serenity.properties file:
jira.url = https://xxxx.ama.com/
jira.project = AMA - iOS
jira.root.issue.type = Story
jira.username = XXXX
jira.password = XXXX

In the report index.html, i am not seeing the description fetched from Jira. Is there anything i am missing here?

### Here is my pom.xml:
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.or

[2018-02-07 12:23] sampadrout commented on #1111
Thanks @vikramvi I am having the code to do that but wondering whats the use of @Managed(uniqueSession = true)
WebDriver appiumDriver;

### Here i start and stop the appium server:
public class TestSuiteRunner {

    @BeforeClass
    public static void startAppium() {
        startAppiumServer();
    }

    @AfterClass
    public static void stopAppium() {
        stopAppiumServer();
    }
}

[2018-02-07 14:32] mmanach opened #1115 "serenity 1.8.21 : Error communicating with the remote browser. It may have died."
Hello @wakaleo ,

Since I updated serenity from 1.8.0 to 1.8.21, all my tests are failing with this kind of error :
[code]
All browsers and geckodriver remains open too.
Turn back to 1.8.0, and everything is ok.

Any idea ?

geckodriver 0.19.0 and 0.19.1
firefox 57

[2018-02-07 14:48] wakaleo commented on #1115
This error message is pretty much always related to an incompatibility between Firefox geckodriver and the selenium version being used. Serenity is just reporting the message.

[2018-02-07 14:51] mmanach commented on #1115
Ok so there is an issue between selenium 3.7.1 and 3.9.0

[2018-02-07 15:03] vikramvi opened #1116 "serenity.maintain.session = true doesn't seems to work as expected"
I used this property in order to check google analytics which recognizes users if s/he visits again to same webpage

- launch webpage, goto a link in that
- close browser
- open browser
- repeat step 1

But I'm not getting correct google analytics flag, it does work when checked manually.

This is again tested wrt Gherkin Syntax in a feature file.

[2018-02-07 15:05] mmanach commented on #1115
for information, seems the issue is known...
https://github.com/SeleniumHQ/selenium/issues/5445

[2018-02-07 15:07] wakaleo commented on #1115
Thanks for the update, I’ll close it here then. The best approach is to let Serenity just pull in the dependencies it needs

[2018-02-07 15:07] #1115 closed

[2018-02-07 15:10] wakaleo commented on #1116
You will need to dig into the code to see what is going on, and what this flag does; I believe is is experimental and the mileage varies depending on the site

[2018-02-07 15:14] vikramvi commented on #1113
Thanks for detailed clarifications.

Reference: ThucydidesSystemProperty.java , WhenConfiguringWhenABrowserShouldRestart.groovy

[2018-02-07 15:14] #1113 closed

[2018-02-07 15:39] mmanach commented on #1115
Yes, but Selenium 3.9.0 is pulled by Serenity :(

[2018-02-07 15:42] mithuns commented on #1114
Do you have the Meta tags in your story file ?
[code]
Trying checking this out ?
[integration_with_jira](http://thucydides.info/docs/serenity-staging/#_integrating_with_jira)

[2018-02-07 15:48] sampadrout commented on #1114
i guess meta tag is for jbehave. Can i use it for cucumber as well?

[2018-02-07 15:54] mithuns commented on #1114
Aah right,
_`Serenity lets you associate JBehave stories or JUnit tests with a JIRA card using the @issue meta tag (illustrated above), or the equivalent @Issue annotation in JUnit`_
try using the feature way, I believe you would need to instead use 'Feature' in your story file and add that dependency, to the reporting plugin.
[feature_coverage](http://thucydides.info/docs/serenity-staging/#_featu

[2018-02-07 16:15] dipakbachhav opened #1117 "How to prepare json file from feature file ?"
I am trying to test my post method using  api but i want to post my json with feature file data
[code]
Below is the json file i want to prepare from above feature file. Can you please help me with the same.?
[code]

[2018-02-07 16:56] mmanach commented on #1115
@wakaleo , just one question, because I don't understand why selenium 3.9.0 is pulled for serenity 1.8.21, because the seleniumVersion is 3.8.1. Is it caused by gradle ?
[code]

[2018-02-07 18:06] imram commented on #1080
@wakaleo  I am also getting exact same issue.  Pl find my pom file. Made sure my Local Repo is Completely Deleted to ensure there is not previous version.

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/

[2018-02-07 18:35] imram commented on #1080
I explicitly added dependencies for all selenium artifacts wqith version 3.8.1 in my pom, I could see that now the Locatable is referencing the lib 3.8.1 only, but now I am getting following error:
features.eligibility.BagEligibility  Time elapsed: 0.032 sec  <<< ERROR!
java.lang.NoClassDefFoundError: Could not initialize class net.thucydides.core.webdriver.SupportedWebDriver

Results :

Tests in

[2018-02-07 18:50] imram commented on #1080
Just an FYI, I am testing my microservice using Serenity BDD with Cucumber. If it has nothing to do with Selenium/ Browser based testing, ideally core libs should have been modularized such a way that it should not have even downloaded anything related to Selenium. Just a thought!!

[2018-02-07 23:43] wakaleo commented on #1117
Just creat a Student class with those fields, and pass in a list of Students to your step definition.

[2018-02-07 23:44] wakaleo commented on #1115
Serenity uses 3.8.1, I don’t know of a Selenium version 3.9.0

[2018-02-07 23:46] wakaleo commented on #1080
Do you have a stack trace?

[2018-02-08 01:07] imram opened #1118 "Serenity BDD With Cucumber Prints [WARNING] Could not find error class: For all Compromised Custom Exception"
Hello,

I am currently using serenity (core) version 1.8.1. I have couple of custom Exceptions created and added those as part of serenity properties file as follow:

**serenity.compromised.on=features.common.util.compromisedException.PnrCouldNotBeCreate,features.common.util.compromisedException.InsufficientTestDataSetUp**

**I am keeping serenity.compromised.on value as all Comma Seperate lists o

[2018-02-08 02:20] wakaleo commented on #1118
This is normal behaviour. You need to add a reference to your project in the serenity-maven-plugin configuration, e.g.

[code]

[2018-02-08 02:21] wakaleo commented on #1117
As this is a question, the best forum is on the https://serenity-bdd.rocket.chat channels.

[2018-02-08 02:21] #1117 closed

[2018-02-08 02:22] wakaleo commented on #1108
Should be fixed in the next release

[2018-02-08 02:27] wakaleo commented on #1103
The @Manual test is designed to be a marker/reminder, not a test script format. This is the current expected behaviour - it was introduced to fix a defect involving code being executed even if the test was flagged as manual.

[2018-02-08 02:27] #1103 closed

[2018-02-08 02:28] wakaleo commented on #1107
This is a very old way of defining a requirements structure; it is no longer the recommended way and is only there for legacy reasons. It will be deprecated in a future version.

[2018-02-08 02:28] #1107 closed

[2018-02-08 02:29] wakaleo commented on #1101
waitForAngularRequestsToFinish() simply calls ngWebDriver - if there are any issues, please raise them on the ngWebDriver project.

[2018-02-08 02:29] #1101 closed

[2018-02-08 02:30] wakaleo commented on #1095
Happy to review a pull request.

[2018-02-08 02:31] wakaleo commented on #1094
Closing duplicate

[2018-02-08 02:31] #1094 closed

[2018-02-08 02:33] wakaleo commented on #1067
Thanks for the update; effectively, duplicate scenario names are not supported.

[2018-02-08 02:33] #1067 closed

[2018-02-08 02:34] wakaleo commented on #1066
Merged into the code base and deployed

[2018-02-08 02:34] #1066 closed

[2018-02-08 02:36] wakaleo commented on #1041
Closing this as the JSON format has replaced the XML and the XML format is no longer supported

[2018-02-08 02:36] #1041 closed

[2018-02-08 02:37] wakaleo commented on #1040
Closing as Serenity does not officially support GivenStories

[2018-02-08 02:37] #1040 closed

[2018-02-08 02:37] wakaleo commented on #1037
Closing - please add any additional questions on the Chat channel

[2018-02-08 02:37] #1037 closed

[2018-02-08 02:42] wakaleo commented on #1097
Hmmm, not easily as the processing is done elsewhere. You might be able to use AnnotatedStepDescription:

[code]

[2018-02-08 02:43] wakaleo commented on #1082
Possibly fixed in the next release

[2018-02-08 03:37] timothyjmtan opened #1119 "Dynamic solutions for running Serenity tests in parallel runs"
Hi,

In the documentation for parallel batch runs, I noticed that the setup in Jenkins for copying artifacts over to the aggregation job are manually created, 1 build step per node i.e.:
thucydides-batch-showcase/BATCH_NUMBER=1
thucydides-batch-showcase/BATCH_NUMBER=2
thucydides-batch-showcase/BATCH_NUMBER=3

Is there a dynamic solution where we could avoid manually creating new build steps in Jen

[2018-02-08 03:47] timothyjmtan commented on #1119
Just replying to my own question,
the Copy Artifacts plugin does this:
![image](https://user-images.githubusercontent.com/19309438/35954542-467801ac-0cc5-11e8-99b3-7740c6222d74.png)

I suppose

[2018-02-08 04:45] sampadrout commented on #1114
@mithuns i have already tried this. But still not working. Any help here.

Feature: Login page scenarios

@Issue:IOSTRA-3532
@android @ios @regression

Scenario: FTUX - Existing User login
Given User is on login page
When Enter valid credentials
Then User is shown calendar page
Then Select Local Calendar
Then Accept calendar Alert
Then Select EWS Calendar
Then Tap Done
Then Display EWS page to ent

[2018-02-08 05:34] imram commented on #1080
Hi John,

I was trying to reproduce the Error at home so that I could send you. I am unable to reproduce it and everything seems working fine, not sure but it seems as you had indicated in comments, I was getting version conflicts may be because I was in office and the dependency was not downloading properly(may be corporate firewall/ nexus repo) etc was not letting it download all clean.

For now

[2018-02-08 05:47] Afez89 commented on #882
Hey @wakaleo I have 2 test cases login and searchPerson. SearchPerson also involves steps from Login, When I run the Search test, the browser closes after login( as per the login test case) but this does not suppose to happen as it does not continue on Search Person function. How do i rectify this?

[2018-02-08 05:59] imram commented on #1118
Hi John,
Thank you for the solution. I made following changes in pom

<plugin>
                <groupId>net.serenity-bdd.maven.plugins</groupId>
                <artifactId>serenity-maven-plugin</artifactId>
                <version>${serenity.maven.version}</version>

                <executions>
                    <execution>
                        <id>serenity-reports</id>

[2018-02-08 06:03] imram commented on #1118
Here is the property entry in serenity prop file:
serenity.compromised.on=common.compromisedException.PnrCouldNotBeCreated,\
  common.compromisedException.InsufficientTestDataSetUp,\
  common.compromisedException.SabreCommandsCouldNotBeCreated,\
  common.compromisedException.NotABagEligiblePNR,\
  common.compromisedException.NoBagOffersPresent,\
  common.compromisedException.SelectedOfferIdIsNotOf

[2018-02-08 06:18] Afez89 commented on #857
@wakaleo  i did a basic selenium project and tried to launch on IE, it works only after i use the 32bit iedriversever.exe. Im now trying for serenity bdd and im not able to go to the page. its able to launch ie but unable to go to the page. for my case its quite important to make it work on ie as its a common user interface that our target audience mostly uses.  The error im getting is:
5662 [main

[2018-02-08 06:41] nivrutha opened #1120 "Detail reports for steps not coming.It is working for one project but does no work for the other."
![snip2](https://user-images.githubusercontent.com/29226866/35958859-06613fe4-0cc9-11e8-8945-34fe73b66786.PNG)
![snip1](https://user-images.githubusercontent.com/29226866/35958842-f9993ed8-0cc8-11e8-8f87-96741f88dab4.PNG)

This is my pom.xml
<?xml version="1.0"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache

[2018-02-08 08:04] nbarrett commented on #1097
thanks @wakaleo - this looks exactly what I'm after! I'll have a try and see how I get on.

[2018-02-08 08:32] dipakbachhav commented on #1117
Hi @wakaleo : Thank you for your reply. Could you please help me with example because i am new to above and unable to implement it .

[2018-02-08 09:08] Bredda opened #1121 "Report generation failure"
I have a weird issue with Serenity. Build is failing due to Report generation failure while all tests are green. Serenity seems to fail writing the JUnit report

`
Tests run: 8, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 22.425 sec <<< FAILURE! - in fr.mypackage.myIT
fr.mypackage.myIT  Time elapsed: 1.321 sec  <<< ERROR!
java.lang.RuntimeException: Report generation failure
	at java.io.Unix

[2018-02-08 12:18] #1106 closed

[2018-02-08 12:19] s1apped commented on #1106
Solved.

[2018-02-08 12:24] s1apped opened #1122 "Serenity Properties question"
Hi,

Could you please tell me if it's possible to not display some Related Tags e.g Capabilities,Epics,Features,Issues,Tags?

Tried using below serenity.properties entry but it didn't work
dashboard.excluded.tag.list=feature

Thanks

[2018-02-08 12:34] wakaleo commented on #857
What version are you using?

[2018-02-08 13:15] wakaleo commented on #1121
It's not related to Serenity I think (that code has not changed for a long time) - it looks like an OS-related issue. Are there any other log or error messages?

[2018-02-08 13:17] wakaleo commented on #1122
Where do you want to exclude the tags from?

[2018-02-08 13:33] s1apped commented on #1122
There is Related Tags section on report and I would like to hide/ don't display for example Featues, Tags, Issues.
![image](https://user-images.githubusercontent.com/32245059/35975379-ce04e952-0cdc-11e8-8675-953bd0fa0a23.png)

[2018-02-08 13:34] wakaleo commented on #1122
That’s not supported at this stage

[2018-02-08 14:09] Ashvinijai opened #1123 "On using latest version of selenium and serenity getting - Killable cannot be resolved error"
After adding the latest versions of selenium and serenity
 I am getting an error : net.serenitybdd.core.exceptions.SerenityManagedException: org/openqa/selenium/internal/Killable`
Caused by: java.lang.ClassNotFoundException: org.openqa.selenium.internal.Killable

Could anyone help me with this issue
I have added "selenium-htmlunit-driver" too but still it is showing that error
Is there any alterna

[2018-02-08 15:37] mmanach commented on #1123
Hi,

Seems your selenium lib versions are not good : your are pulling 'selenium-java', version:'3.6.1', and other selenium libs in version 3.9.0.
By the way selenium-htmlunit-driver 2.52.0 is quite old now.
You can let serenity pulling and managing versions of selenium.

[2018-02-08 20:10] mikeastarb commented on #1103
Hey @wakaleo thank you for the explanation of the tag

I am left with a question though of how steps make it into the Manual Steps list in the generated report (or at least it appears to me to be a manual steps list)

![image](https://user-images.githubusercontent.com/7879578/35995578-ce565a44-0ce1-11e8-97e8-078d2eba5351.png)

If that's not used, is there any recommended way of documenting manual

[2018-02-08 23:38] wakaleo commented on #1103
It used to be done that way, but we removed that feature because folks complained about it.

[2018-02-09 00:08] wakaleo commented on #1123
@mmanach  is right - this is a dependency conflict, not a Serenity issue.

[2018-02-09 00:34] wakaleo commented on #1120
Have you tried with the latest version of Serenity?

[2018-02-09 00:34] wakaleo commented on #1119
Not at this stage.

[2018-02-09 00:34] #1119 closed

[2018-02-09 00:38] wakaleo commented on #1110
Possibly fixed in the latest version.

[2018-02-09 00:38] wakaleo commented on #1105
Closing as not a bug.

[2018-02-09 00:38] #1105 closed

[2018-02-09 01:13] wakaleo commented on #882
You should not have a test case that depends on, or includes, another - test cases should be independent. Share the steps or tasks, not the tests themselves.

[2018-02-09 06:24] Ashvinijai commented on #1123
Updated the versions

 compile group: 'org.seleniumhq.selenium', name: 'selenium-java', version:'3.9.0'
	compile group: 'org.seleniumhq.selenium', name: 'selenium-server', version:'3.9.0'
    compile group: 'net.serenity-bdd', name: 'serenity-core', version:'1.8.21'
     compile group: 'net.serenity-bdd', name: 'serenity-junit', version: '1.8.21'
   compile group: 'org.seleniumhq.selenium', name:

[2018-02-09 06:46] nivrutha commented on #1120
I am getting this error while using latest versions .

com.google.common.util.concurrent.ExecutionError: java.lang.AbstractMethodError: javax.ws.rs.core.UriBuilder.uri(Ljava/lang/String;)Ljavax/ws/rs/core/UriBuilder;
	at com.google.common.cache.LocalCache$Segment.get(LocalCache.java:2216)
	at com.google.common.cache.LocalCache.get(LocalCache.java:4147)
	at com.google.common.cache.LocalCache.getOrL

[2018-02-09 07:04] marakeusz opened #1124 "@Story annotation and how it should be handled by report"
Hi.

I am using the latest version: 1.8.21

My test packages looks like:
![image](https://user-images.githubusercontent.com/22429323/36015285-2a36dcda-0d6e-11e8-8b14-4e246d395864.png)

I added relation between those two parcicular classes by putting
`@Story(ManageCertificateProvidersStory.class)` in ManageCertificateProvidersStoryAdditionalTest.class.

I needed to create separate class for paramet

[2018-02-09 08:40] wakaleo commented on #1123
You need to remove or exclude the reference to selenium-htmlunit-driver, which is defined somewhere in your pom.xml or one of its dependencies.

[2018-02-09 08:40] mmanach commented on #1123
Can you check in your dependencies tree if you have conflicts ?
By the way, serenity is pulling selenium libs too, so can you just try with this :
[code]

[2018-02-09 09:01] Hendrione commented on #1080
try to create project using 3 words on groupId. like
com.exercise.automation. I have issue when creating serenity using 2 words
only when using serenity-jbehave-archetype

On 8 Feb 2018 6:46 am, "John Ferguson Smart" <notifications@github.com>
wrote:

[2018-02-09 09:16] wakaleo commented on #1120
You have references to old versions of selenium and htmlunit in your pom, yo need to remove these.

[2018-02-09 09:18] wakaleo commented on #1124
The @Story annotation isn't used anymore. Currently, in JUnit, each class maps to a story, so we don't have a way to do this.

[2018-02-09 09:34] RemonSinnema commented on #1110
I don't see anything later than 1.8.21 in the Maven Central Repository. Is the fix in any publicly available binary version?

[2018-02-09 09:44] Ashvinijai commented on #1123
Thank You so much.Its amazing with just these dependencies it worked

compile group: 'net.serenity-bdd', name: 'serenity-core', version:'1.8.21'
compile group: 'net.serenity-bdd', name: 'serenity-junit', version: '1.8.21'
compile group: 'net.serenity-bdd', name: 'serenity-gradle-plugin', version: '1.8.21'

[2018-02-09 09:47] vi123ch opened #1125 "Error injecting: net.serenitybdd.maven.plugins.SerenityAggregatorMojo java.lang.TypeNotPresentException: Type net.serenitybdd.maven.plugins.SerenityAggregatorMojo not present"
Hello I am having an error for serenity reports generation. I am new to java. Please help me!
- Java version used 8
- clean verify is giving me the following error
Error:

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building sample 0.0.1-SNAPSHOT
[INFO] ----------------------------------------------------------------

[2018-02-09 10:08] #1123 closed

[2018-02-09 10:08] wakaleo commented on #1110
The latest is 1.9.0-rc.1: http://search.maven.org/#search%7Cga%7C1%7Cserenity-core

[2018-02-09 10:11] wakaleo commented on #1125
This is a dependency conflict, not a Serenity issue. Start by using JUnit 4.12 and not 4.11, and use the maven dependency analysis tools to look for conflicting versions.

[2018-02-09 10:43] nivrutha commented on #1120
![mavendependencies](https://user-images.githubusercontent.com/29226866/36023913-03379ab2-0d86-11e8-8695-a773121678d2.PNG)

[2018-02-09 10:44] nivrutha commented on #1120
Maven dependencies are not getting updated . I am not sure how to solve the problem.Any idea on this

[2018-02-09 10:48] marakeusz commented on #1124
Ah, I had the feeling `@Story` should not to be used anymore.
Too bad. It would be a great way to organize those parameterised tests.

Thanks anyway.

[2018-02-09 10:50] wakaleo commented on #1120
Looks like a Maven/Eclipse issue

[2018-02-09 11:09] nivrutha commented on #1120
What to do for the same. I am not able to find the downloaded maven dependencies for the project also..

[2018-02-09 11:12] wakaleo commented on #1120
Start with a fresh Serenity project (e.g. https://github.com/serenity-bdd/serenity-cucumber-starter) and move your code across.

[2018-02-09 11:32] wakaleo commented on #1055
You need to run the aggregate task in the module containing the tests, not in the parent module.

[2018-02-09 12:34] beetlezhuk opened #1126 "Outputting to report"
Hi. I know that earlier to output some message to report we had to use simple @step method.
Has it changed somehow, do we have now some more sophisticated way of outputting some message to report?

[2018-02-09 13:05] wakaleo commented on #1126
No, nothing has changed at this level.

[2018-02-09 13:07] beetlezhuk commented on #1126
Ok, thanks.

[2018-02-09 13:07] #1126 closed

[2018-02-09 14:52] mikeastarb commented on #1103
Cool, I can understand that. Thanks again for the context! I'll take this info to my team and discuss what we would like to do moving forward regarding our manual test scenarios

[2018-02-09 15:09] vikramvi commented on #1111
@sampadrout  Please refer to http://www.thucydides.info/docs/serenity/ for the answer

[2018-02-09 15:42] dhoskins opened #1127 "Is it possible to use serenity-bdd for a native iOS project"
Can serenity-bdd be used for a native iOS testing project using XCTest? I cannot see any examples or documentation around this.

[2018-02-10 05:08] imram opened #1128 "Serenity Core Latest Version Hangs like forever with mass exception being thrown when an assertion fails and compromised exception present in serenity property file"
Dear Sir,

Please refer the demo repo I have created for reproducing the issue and also to capture the execution logs/ stack trace in each use cases for your analysis.

Repo: https://github.com/imram/serenitybddIssues.git

# **CASE 1: VERSIONS:**
  <serenity.version>1.8.21</serenity.version>
  <serenity.cucumber.version>1.6.10</serenity.cucumber.version>

**Scenario 1:  WHEN ALL ASSERTION STEPS  P

[2018-02-10 10:05] wakaleo commented on #1127
Serenity is a Java library. XCTest is an Objective-C/swift library. So no.

[2018-02-10 10:05] #1127 closed

[2018-02-10 17:58] imram opened #1129 "Serenity BDD Report Not Reflecting Failed Tests in Report and Generating Incorrect Result in 1.9.0-rc.1 release"
Repo: https://github.com/imram/serenitybddIssues.git

I verified following use cases in my repo above and here are result.
Use Case: I have two Asserion Steps in Step Definition after When Step.
Scenario 1. First Then Step Assertion Failed
Expected: Console shows then Failure. Report should Show the First Assertion Step Failed and Second Skipped.
Actual: Console Shows Failure as Expected. BDD Dash

[2018-02-10 17:59] imram commented on #1128
Dear Sir, Thank you for your such a quick turn around. Glad to see that scenario 3 has been fixed, however it seems it broke the generate report. Please refer issue created: https://github.com/serenity-bdd/serenity-core/issues/1129 for details.

[2018-02-10 18:01] wakaleo commented on #1128
The update is in master now but it’s not yet been released

[2018-02-10 18:01] #1128 closed

[2018-02-10 18:02] wakaleo commented on #1128
It will be in 1.9.0-rc.2

[2018-02-12 07:30] csnthsh120 commented on #1053
Unable to upgrade to latest Serenity version because of the same issue, any idea when it will be resolved?

[2018-02-12 09:12] Abeldyaevadd opened #1130 "Duplicate rows in report when run tests by tags"
Hello!
In our test framework we use running tests by tags. One test can have several tags.
For example:
[code]

Then we run test with maven by tags. Sometimes we pass 2 or more tags in maven command line.
`-Dtags=payments,limits.`

In this case, "check_main_page" test will run 1 time, but in report we have 2 duplicate lines for this test.
Can we set up report to has only unique rows?

serenity-cor

[2018-02-12 09:21] cliviu commented on #1053
hi @csnthsh120 , you have also an own implementation of the DriverSource ?

[2018-02-12 09:24] wakaleo commented on #1130
This is not currently supported for JUnit; feel free to propose a PR though.

[2018-02-12 10:34] mmanach opened #1131 "1.9.0-rc.1 : java.lang.NoSuchMethodError: net.thucydides.core.steps.StepEventBus.getForcedResult()Lcom/google/common/base/Optional;"
hi @wakaleo ,

I don't know if 1.9.0-rc.1 is stable enough to be tested, I wanted to validate that everything was ok with selenium 3.9.1.
So yes, serenity 1.9.0-rc.1is pulling selenium 3.9.1.

I don't have anymore the error https://github.com/serenity-bdd/serenity-core/issues/1115, because it seems that selenium 3.9.1 solved it (source : https://github.com/SeleniumHQ/selenium/issues/5458#issuecomm

[2018-02-12 11:30] wakaleo commented on #1131
Thanks for the update. The APIs have changed, so probably best to wait till there are updates for the Cucumber and jbehave modules as well.

[2018-02-12 15:19] MOPBernie commented on #1127
@wakaleo is there any other way to use serenity for iOS native apps?

[2018-02-12 15:22] MOPBernie commented on #661
@vikramvi did you manage to run any test on iOS device using serenity?

[2018-02-12 16:26] dhoskins commented on #1127
I would suggest that there is a need for much greater and easier to read documentation around this project. The manner in which my question was addressed carries a suggestion that this ought to have been obvious to me.

But upon browsing serenity-bdd.info I can see only a single mention of Java, in relation to a possible language in which to write acceptance tests.

[2018-02-12 23:04] cliviu commented on #1053
@CamiloCode,  I have tested with your implementation of DriverSource and the https://github.com/cliviu/serenity-appium-hybrid-poc . The tests were ok. I'm not sure where the problem is.

[2018-02-12 23:18] tfarrar opened #1132 "serenity bdd junit test results"
Our QA team has a remote webserive we use to collect test results.  After running each test I would like to upload test results to the to this web server using the Issues annotation.  What is my best way to implement this use Serenity bdd junit screenplay framework?  I  thought you might have some special hooks into the framework were I can easily get pass/fail results.

[2018-02-13 06:18] RemonSinnema commented on #1110
Confirmed that 1.9.0-rc.1 fixes the issue.

[2018-02-13 06:18] #1110 closed

[2018-02-13 10:49] Afez89 commented on #35
how do i automate check for iframe to access content that i want when the iframe id keeps changing?

[2018-02-13 10:51] wakaleo commented on #35
You will need to write custom code for your app to keep track of the iFrames or recheck each time.

[2018-02-13 11:17] Afez89 commented on #35
@wakaleo
When i wrote this loop:
while(!searchFieldID.isCurrentlyVisible()) {
		System.out.println("i: "+i);
		i++;
		getDriver().switchTo().frame(i);
		}
sometimes to get the to the element that is in the iframe.
sometimes it works, sometimes does not, then throws error:
  [31mnet.serenitybdd. core.exceptions.SerenityManagedException: no such frame
        (Session info: chrome=63.0.3239.132)

b

[2018-02-13 11:20] wakaleo commented on #35
This is more a question for https://serenity-bdd.rocket.chat, where more people could give their thoughts.

[2018-02-13 11:34] nivrutha commented on #1120
Getting the below error

java.lang.NoClassDefFoundError: org/openqa/selenium/internal/Killable
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:760)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader.java:467)
	at java.net.URLClassLoader.access$100(URLClassLoa

[2018-02-13 11:37] wakaleo commented on #1120
NoClassDefFoundError is pretty much always due to a dependency conflict (see for example https://maven.apache.org/plugins/maven-dependency-plugin/examples/resolving-conflicts-using-the-dependency-tree.html). You need to identify where the conflict is coming from; only then can you figure out how to fix your pom.xml.

[2018-02-13 12:40] nivrutha commented on #1120
I need to look for what conflicts I did not get you.I am having a look at dependency hierarchy in pom editor in eclipse.Serenity automatically downloads a specific version of selenium know..For the latest version I am using what does it download.Usually it downloads  2.53.1.Should Jersey dependencies be used.

[2018-02-13 12:42] wakaleo commented on #1120
As this is a usage/configuration problem, not a defect, could you close the issue here and continue the conversation on https://serenity-bdd.rocket.chat, where more people might be able to contribute?

[2018-02-13 12:43] wakaleo commented on #1120
(If Serenity is downloading Selenium 2.53.1 then you are using an old version of Serenity).

[2018-02-13 13:30] nivrutha commented on #1120
I am not able to connect to https://serenity-bdd.rocket.chat

[2018-02-13 13:30] nivrutha commented on #1120
I am using serenity newer version only

[2018-02-13 14:42] tfarrar commented on #1132
Thanks for the idea,  that does sound like a better solution to upload the results after the tests are complete.  I was looking for an example of how to create custom reporting in serenity.  Do you have link handy with the info or GitHub location I and refer to.

Thanks
Tim

[2018-02-13 17:02] CamiloCode commented on #1053
@cliviu yes but i see you arent using cucumber on your tests. I'm just using 1 runner which is cucumber with serenity . and I see you use in your tests SerenityRunner . im not sure if this is related. could you please check your poc with cucumber? please.

[2018-02-14 16:33] vikramvi commented on #740
@prat23k  @murthysp can you please share your **JAVA_ARGS** value.

I tried below but it's only working partially

`JAVA_ARGS="-Djava.awt.headless=true -Dhudson.model.DirectoryBrowserSupport.CSP=\"sandbox allow-forms allow-scripts; default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src data:;\""
`
I can't see screen shots.
Refer to https://github.com/seren

[2018-02-15 14:07] HNygard opened #1135 "Chrome headless: Test crashes and the fail result is ignored. Serenity reports success."
I'm getting exception when trying to enable Chrome "--headless" feature. Unsure what the real error, but this Github issue ticket concerns the problem with Serenity reports. The headless error happens in connecting with open page/get current URL and the driver seems to have died/lost connection. The first problem is that Serenity reports it as all good.

In Gradle's Junit report the test is failin

[2018-02-15 16:17] #1083 closed

[2018-02-15 19:32] dfontde commented on #1129
Hi, we have the same scenario occurring with version 1.8.21

[2018-02-16 07:15] wakaleo commented on #1131
Could you try with the latest in all versions?

[2018-02-16 07:15] wakaleo commented on #1132
It's not hard (implementing an interface and adding some metadata to your source path), but I need to write it up properly.

[2018-02-16 07:18] wakaleo commented on #1135
The best bet would be to refactor that code to cater for this type of error.

[2018-02-16 11:29] nbarrett commented on #1097
Actually. I created this method as`new ExecutedStepDescription()` not possible due to being protected:

[code]

However this threw the following exception:

`No test method called net.thucydides.core.steps.ExecutedStepDescription@71238fc2 was found in class `...

[2018-02-16 11:36] #1120 closed

[2018-02-16 11:37] nivrutha opened #1136 "Serenity with spring integration not working Kindly guide on the same.Beans in the context XML are not getting loaded via @ContextConfiguration"

[2018-02-16 12:24] mmanach commented on #1131
Tried with :
- serenity 1.9.0-rc.3
- serenity jbehave 1.36.0-rc.1

Seems all is ok

[2018-02-16 12:36] HNygard commented on #1135
@wakaleo : Could maybe have try-catch around currentUrlFor(). If it throws exception, catch it and throw the first one?

Something like this:

    private void ignoreUndefinedErrorsIfTheUrlIsCorrectFor(WebDriver driver, String url) {
        try {
            driver.get(url);
        } catch (WebDriverException potentiallyIgnorableError) {
            String currentUrl;
            try {

[2018-02-16 13:36] wakaleo commented on #1136
This is a question rather than a defect - could you post it on serenity-bdd.rocket.chat

[2018-02-16 13:36] #1136 closed

[2018-02-16 13:38] gdowmont opened #1138 "Proxy settings ignored with PhantomJS"
To run my test from Jenkins I need to connect to the service using specific authenticated proxy. I have tried with Chrome however in the recent versions it does not support authentication when using google.switches.

So I have started experimenting with Firefox and PhantomJS.

Following is the part of my config that configures proxy and PhantomJS and the settings seem to be ignored when running th

[2018-02-16 13:48] wakaleo commented on #1138
Could you post this in serenity-bdd.rocket.chat?

[2018-02-16 13:48] #1138 closed

[2018-02-16 14:11] wakaleo commented on #1131
Thanks for the update.

[2018-02-16 14:11] #1131 closed

[2018-02-16 16:56] raulfandinoolaya opened #1139 "isMobileDriver() method fails with AndroidWebDriver"
Using ScreenPlay and Appium, Serenity creates an AndroidWebDriver as the driver, when the isMobileMethod method receives that kind of driver returns false.

This method should check if the driver that receives is a child class of AppiumDriver class.

repository/net/serenity-bdd/serenity-core/1.8.21/serenity-core-1.8.21.jar!/net/serenitybdd/core/pages/WebElementFacadeImpl.class:843

Current method:

[2018-02-16 17:28] ricardorlg commented on #1139
That method should check if driver class is assignable from AppiumDriver

[2018-02-16 17:29] wakaleo commented on #1139
Could you propose a PR?

[2018-02-16 17:32] ricardorlg commented on #1139
I can make that fix or perhaps @raulfandinoolaya can make the pr

[2018-02-16 19:11] raulfandinoolaya commented on #1139
I can do it, thanks!

[2018-02-16 19:43] ricardorlg commented on #1139
@wakaleo I've just sent the PR.

[2018-02-16 20:07] ricardorlg commented on #1139
should we close this?

[2018-02-16 20:38] wakaleo commented on #1139
Yes, it will be in the next release

[2018-02-16 20:38] #1139 closed

[2018-02-17 03:01] tremkonzah opened #1141 "is it possible to consolidate release version?"
Is it possible to consolidate release version?
Something like an elastic stack using same version number for all library

When serenity-core release with new version, other serenity repo (cucumber, jbehave, etc) will be release too and will use same version number

now we have to add
[code]

this will simplified maven properties for serenity, only add one line and avoid version conflict too
`<sere

[2018-02-17 06:20] wakaleo commented on #1141
Probably not. The life cycles for each module are not related, and the Cucumber and jbehave modules don’t always need to be updated when core is updated (usually they don’t).

[2018-02-17 06:20] #1141 closed

[2018-02-17 15:41] nomadcanuck commented on #954
@tfrothingham I have the same issue when the table is horizontally scrollable. The .size() method returns the proper count but the getHeaders() method is only returning what is visible without scrolling.

In my case fourteen of the fifteen columns are visible and the scrollbar is active, as a result, only fourteen headers are returned. I proved my case by inserting within the test a pause long eno

[2018-02-18 15:37] andres-florit commented on #976
I experienced a different issue, but also produced by gradle daemon.

My issue was getting some previous erased capabilities or features in the generated report for the same project. I.e, if I had a feature A, then generated the report, then renamed the feature A to B and generated the report again, then I got both, A and B in some report tabs. Even if executed the _clean_ task or removed _target_

[2018-02-18 15:42] wakaleo commented on #976
This sounds like a Gradle daemon issue rather than a Serenity one - the clean task should clear any caches that the Gradle daemon is using.

[2018-02-19 15:46] mikezx6r commented on #137
John can confirm/deny my analysis. I was contributing a bit to the project around the time the rename took place, so this is my understanding of the state of things.

Your interpretation doesn't tell the whole story.

When Thucydides was renamed, some effort was made to move code to the new package name. Yes, it's as easy as 'IntelliJ, move this package and publish' from a coding perspective,
BUT

[2018-02-19 15:54] wakaleo commented on #137
Spot on Mike. It's a lot of work for not much benefit, as you would always need both Jar files anyway. Splitting out the Webdriver code would have more tangible benefit, but even that is non-trivial.

[2018-02-19 16:06] wakaleo commented on #137
Not worth the ROI at this stage.

[2018-02-19 16:06] #137 closed

[2018-02-20 19:52] mikeastarb commented on #1103
Wanted to do my civic duties and post what I think is a solution to my issue:

At the start of each of my manual tests I've found I can call `StepEventBus.getEventBus().testIsManual()` myself. This does not stop methods from executing, but will mark all of the steps as ignored in our results file and appropriately report them as manual tests (seems like this gets back to the old functionality). Si

[2018-02-21 08:30] marakeusz commented on #1124
Probably marking the `@Story` as deprecated would be a good idea (if it is not used anymore), but nonetheless it is not an issue.

[2018-02-21 08:30] #1124 closed

[2018-02-21 09:45] mmanach commented on #1129
Hi,

Seems that there are some issues with the version 1.9.0-rc.1.

Please can you try with the 1.9.0-rc.3 to check if you still encounter this error ?

https://github.com/serenity-bdd/serenity-core/issues/1131

[2018-02-22 10:42] AaronDohertyHmh opened #1142 "Serenity Report - ScreenShots - The Previous/Next Arrows don't diplay against a white background"
**Versions**
`<properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <serenity.version>1.8.1</serenity.version>
        <serenity.cucumber.version>1.6.5</serenity.cucumber.version>
        <selenium.version>3.7.1</selenium.version>
        <serenity.maven.version>1.8.0</serenity.maven.version>
        <maven.failsafe.plugin.version>2.20.1</maven.failsafe.pl

[2018-02-22 11:41] wakaleo commented on #1142
Well spotted. Those arrows are part of the javascript slideshow library (so not directly controlled by Serenity), but some CSS in the Serenity code base might be able to help - I would suggest playing round with the Serenity stylesheet to get something you are happy with, and submitting a PR.

[2018-02-22 14:25] tfarrar commented on #1132
I was able to implement a solution using your GitHub example. https://github.com/serenity-bdd/serenity-cli
using -  CLIOutcomeReportGenerator  class.

Now I am trying to figure out the best way to start the post test report generator.  Currently I am using maven pom.xml to start my build with the goal "clean verify" Do you have an suggestions?

[2018-02-22 16:28] rajapcs opened #1143 "index.html is not generated with below serenity version"
index.html is not generated with below serenity version. I am using Firefox browser.
Browser version - 57
geckodriver version - 0.19.0

<dependency>
            <groupId>net.serenity-bdd</groupId>
            <artifactId>serenity-core</artifactId>
            <version>1.8.21</version>
        </dependency>
        <dependency>
            <groupId>net.serenity-bdd</groupId>
            <artifactId

[2018-02-22 18:33] tfarrar commented on #1132
I am use this maven plugin to run post report generator... mvn exec:java

       <plugin>
      <groupId>org.codehaus.mojo</groupId>
      <artifactId>exec-maven-plugin</artifactId>
      <version>1.2.1</version>
      <executions>
        <execution>
          <goals>
            <goal>java</goal>
          </goals>
        </execution>
      </executions>
      <configuration>
        <mainClass

[2018-02-22 21:44] hypery2k opened #1144 "Missing Class; org/openqa/selenium/interactions/internal/Locatable with 1.9.0-rc.3"
The latest 1.9 RC fails with the following exceptions:
[code]
The repo is [here](https://github.com/holisticon/continuous-delivery-demo/tree/feature/serenity_update) and a Jenkins sample [here](https://jenkins.holisticon.de/blue/organizations/jenkins/Public%2FContinousDelivery_BranchDemo/detail/feature%2Fserenity_update/2/tests).

[2018-02-22 22:03] dan0935 opened #1145 "want to avoid @ignore tag in serenity report"
I am using jbehave with Serenity. I have 5 scenario in story file and out of which 4 are without @ignore tag,1 with @ignore tag.

I want to exclude my @ignore scenario in serenity report.Currently its still show up in report as ignored:1.I want my test to pass 100% without showing ignored :1 in report.something like(4 passed|0 ignored|0 skipped)

I am using below format for my ignore scenario
 Sce

[2018-02-23 06:45] nivrutha opened #1146 "Wanted some information regarding JIRA support for serenity.Currently we are using JIRA PROJECT NAMES to pull out the stories.In addition can we filter stories based on labels present.?I am not able to access https://serenity-bdd.rocket.chat from my computer .It has been blocked."
Can anyone help on this

[2018-02-23 07:02] wakaleo commented on #1145
This is the intended behaviour of the @ignored annotation. If you want to exclude a scenario completely, you need to use the JBehave metafilters

[2018-02-23 07:51] wakaleo commented on #1132
You can also register a reporter class to be executed at the same time at the other aggregate reports; unfotunately I haven’t written much about this feature as yet, but if you look at the ReportServices class (from memory) you should be able to see how it works.

[2018-02-23 07:54] wakaleo commented on #1144
That looks like a dependency conflict with one of the Selenium libraries - what version of selenium are you using!

[2018-02-23 11:01] hypery2k commented on #1144
Not added any version of selenium. thought that's already included in Serenity Core. Isn't it?

[2018-02-23 11:13] Nolyurn commented on #50
Newbie to Selenium and Serenity,
I had the same problem using Serenity for steps but program as Selenium way.
It seem that using PageObject solved my problem.

[2018-02-23 12:10] wakaleo commented on #1144
It is indeed, that is odd then (I'm not seeing it here). I will take a look when I get a chance

[2018-02-23 12:24] hypery2k commented on #1144
thanks

[2018-02-23 12:55] Ajeshks2510 opened #1147 "Index.html not generated for Serenity Rest Assured project types when a Junit assertion fails!"
POM with below details.

		<serenity.version>1.8.4</serenity.version>
		<serenity.maven.version>1.8.21</serenity.maven.version>
		<junit.version>4.12</junit.version>
		<slf4j.version>1.6.1</slf4j.version>
		<maven.failsafe.plugin.version>2.20.1</maven.failsafe.plugin.version>
		<maven.compiler.plugin.version>3.7.0</maven.compiler.plugin.version>
		<jackson.version>2.6.1</jackson.version>
		<java.v

[2018-02-23 13:01] wakaleo commented on #1147
Make sure you have the same serenity-maven-plugin and serenity-core versions, but I can't see where the aggregate plugin is being called - are you running 'mvn test' or 'mvn verify'?

[2018-02-23 14:43] dan0935 commented on #1145
Thanks for your prompt reply

[2018-02-23 14:47] dan0935 commented on #1145
Which JBehave metafilters we can use to exceude ignore scenarios in our report?

[2018-02-23 14:51] Ajeshks2510 commented on #1147
Aggregate plugin is called inside maven plugin @Wakaleo. It was working as expected for pass scenarios. But in the case of Assertion fail only, the index report was not generated.

[2018-02-23 15:02] wakaleo commented on #1147
There is no relation between a failing test and generating the report if the aggregate plugin is being called from maven during the 'verify' phase. Try using the same version for the maven plugin and serenity-core; there could be a version conflict.

[2018-02-23 16:42] imram commented on #1129
@mmanach I just reran my demo provided in desc against rc3, it still generated wrong report. Report Says 100% passed, however console log is showing failure as expected:
java.lang.AssertionError: Failing Second Step Assertion
        at org.junit.Assert.fail(Assert.java:88)
        at org.junit.Assert.assertTrue(Assert.java:41)
        at OfferEligibilityStepDefinitions.cardholderShouldBeAbleToSee

[2018-02-23 16:50] mmanach commented on #1129
Maybe the version of serenity-cucumber (1.6.10) is not ready with the latest rc3, need to ask @wakaleo about this topic.

[2018-02-23 17:20] Ajeshks2510 commented on #1147
sure @wakalo. I will update and try.

[2018-02-26 12:56] Ajeshks2510 commented on #1147
@wakaleo : Sorry! It's not not working even for latest version of Serenity and Plugin.
`<properties>
		<serenity.version>1.9.0-rc.3</serenity.version>
		<serenity.maven.version>1.9.0-rc.3</serenity.maven.version>
		<junit.version>4.12</junit.version>
		<slf4j.version>1.6.1</slf4j.version>
		<maven.failsafe.plugin.version>2.20.1</maven.failsafe.plugin.version>
		<maven.compiler.plugin.version>3.7.0

[2018-02-26 13:11] wakaleo commented on #1147
If you bind the aggregate task to the verify maven phase, it should generate the test reports regardless of whether the test passes or fails, so something odd is apparently happening when the your tests fail. Could you provide a sample project?

[2018-02-26 14:06] Ajeshks2510 commented on #1147
@wakaleo  Below attached a sample project where tests failed and index not generated. As I am working behind a corporate firewall on Windows 10 x64 machine, not able to share original project. But the attached is same as my original project in terms of design and calls(except api values). Only abnormal behavior I am facing in report part in terms of assertion.

[testfailcall.zip](https://github.co

[2018-02-26 16:04] wakaleo commented on #1147
Your pom.xml file is incorrectly configured. You need to configure the surefire plugin to not run the Serenity tests, e.g.

[code]

[2018-02-26 19:58] wakaleo commented on #1147
See http://maven.apache.org/surefire/maven-surefire-plugin/ and http://maven.apache.org/surefire/maven-failsafe-plugin/. This is a Maven configuration question, unrelated to Serenity.

[2018-02-27 01:08] wakaleo commented on #1145
See http://jbehave.org/reference/stable/meta-filtering.html

[2018-02-27 04:43] Ajeshks2510 commented on #1147
@wakaleo Thanks for your comments. I am closing this issue as my code worked for pom with surefire plugin.

[2018-02-27 04:43] #1147 closed

[2018-02-27 08:58] philhinco opened #1148 "SerenityRest - Pending steps result in different behavior in @After"
Hello everyone.

I'm currently using Serenity BDD to write integration/regression tests for our company's REST API.

I'm now writing tests for two similar features that behave slightly differently in different "modes".
I'm using tags to tag tests that require an authenticated user. I also wrote a class that contains the `@Before` and `@After` hooks for those tags (ie `@Before("@authenticated")`).

[2018-02-27 09:00] wakaleo commented on #1148
This is normal behaviour - when a test fails, Serenity stubs out the REST api to avoid sending unnecessary subsequent queries.

[2018-02-27 09:06] philhinco commented on #1148
@wakaleo But then why does the same not happen in the next test? The next test (which also has the step missing/just throws PendingException) runs through fine with the REST call working

[2018-02-27 10:28] wakaleo commented on #1148
I think it will only stub the API out if a failure occurs. I recognise that this is not optimal for REST calls, so will think about some options to make this more flexible.

[2018-02-27 10:36] philhinco commented on #1148
I've now eliminated what had caused an earlier AssertionFailure, but it still runs into the NPE.

It would be nice if the stubbing would not occur after a PendingException is thrown or if SerenityRest became "unstubbed" once entering `@After` hooks. What I expect would be the behavior I see if I replace `SerenityRest.given` with `RestAssured.given`, which marks the step as Pending.

[2018-02-27 14:36] witoldsz opened #1149 "rest-assured aggregated reports missing when using custom `filter`"
Hi,
code like this works just fine:

[code]

Once I add a custom filter, let it be as simple as:

[code]

, then the aggregated report is missing the requests from "steps" section (with that green "REST Query" buttons).

I am using my custom filter to perform a custom authentication.

HOWEVER:

When I configure my filter like this:

`SerenityRest.filters(…my_filter_here…);`

Then it works, but thi

[2018-02-27 14:58] wakaleo commented on #1149
Can you have a look at the code and propose a PR? It might be a new API feature that hasn’t been wrapped by Serenity

[2018-02-27 16:38] witoldsz commented on #1149
Believe me, I have tried. The amount of indirections, proxies, fly-through classes and what else – made me failed. I am sorry. Will try again, hopefully.

[2018-02-28 08:09] liviudanu-ellation commented on #1145
@dan0935 ,as a more simple solution you can try to remove `@test` annotation and use `@ignore` instead of it. This will not include the test into the report as you driver will not see it.

[2018-02-28 09:21] vi123ch commented on #1125
Thanks fixed it

[2018-02-28 09:44] #1125 closed

[2018-03-01 12:33] beetlezhuk opened #1150 "Serenity.clearContext() - how it works"
Serenity.clearContext()
Hi, just want to know when it should be used and what it works.

Thank you in advance.

[2018-03-01 21:21] Warren25 opened #1151 "All Serenity Properties for Appium"
What are ALL the serenity properties for Appium?

I have and read and examined the documentation here: http://www.thucydides.info/docs/serenity/

AND

The Appium Serenity project here: https://github.com/vikramvi/AppiumSerenityPOC

I am currently using these appium-related properties:
appium.platformName
appium.deviceName
**appium.newCommandTimeout**
appium.app
**appium.noReset**
appium.automation

[2018-03-01 21:32] wakaleo commented on #1151
Any property that starts with "appium" will be passed through, both with and without the "appium" prefix.

[2018-03-02 16:13] tfrothingham commented on #1060
Also seeing this issue using Junit runs, currently using serenity 1.8.21

[2018-03-02 20:25] Warren25 commented on #1151
@wakaleo Ah, I understand now. Thank you for your quick response. I guess this question can be closed.

[2018-03-02 20:27] #1151 closed

[2018-03-03 12:33] wakaleo commented on #1150
This is an experimental internal method and will be removed shortly.

[2018-03-03 12:33] #1150 closed

[2018-03-03 12:34] #1145 closed

[2018-03-03 12:43] wakaleo commented on #1143
We can't do much without a more detailed description of the issue. Have you configured the failsafe plugin to run the Serenity aggregate task? Are you seeing any error messages? Can you provide a sample project?

[2018-03-03 12:56] wakaleo commented on #1144
The java.lang.NoClassDefFoundError is definitely a version conflict (not a missing class). For some reason, your project is pulling in selenium-api version 2.53.0, as opposed to the version 3.9.1 used by serenity and appearing in the serenity-core pom file.

The workaround is to declare the selenium libraries in your dependencies, e.g.
[code]

But a cleaner solution would be to find the library th

[2018-03-03 13:14] #1142 closed

[2018-03-03 13:21] wakaleo commented on #1135
That looks like an old hack for HTMLUnit idiosyncrasies - I'll see if I can remove it entirely.

[2018-03-03 13:42] #1135 closed

[2018-03-03 13:55] wakaleo commented on #1149
Canyon provide a sample project?

[2018-03-03 14:09] wakaleo commented on #1148
Please feel free to dig into the code, we could do with some help maintaining this section of the code base.

[2018-03-03 14:30] #1130 closed

[2018-03-03 14:34] wakaleo commented on #1129
Errors are correctly reporting with serenity-core 1.9.0-rc.4 and serenity-cucumber 1.6.13 - could you confirm?

[2018-03-03 14:35] wakaleo commented on #1121
Closing due to lack of activity.

[2018-03-03 14:35] #1121 closed

[2018-03-03 14:40] wakaleo commented on #1118
Could you try with 1.9.0-rc.4?

[2018-03-03 14:44] wakaleo commented on #1116
The session referred to is the Serenity in-memory cache - it is unrelated to the browser.

[2018-03-03 14:44] #1116 closed

[2018-03-03 14:56] wakaleo commented on #1096
Fixed many years ago.

[2018-03-03 14:56] #1096 closed

[2018-03-03 14:57] wakaleo commented on #1082
Fixed in 1.9.0

[2018-03-03 14:57] #1082 closed

[2018-03-03 14:57] wakaleo commented on #1108
Fixed in 1.9.0

[2018-03-03 14:57] #1108 closed

[2018-03-03 14:58] wakaleo commented on #1093
Closed for lack of activity.

[2018-03-03 14:58] #1093 closed

[2018-03-03 14:59] wakaleo commented on #1092
Fixed in 1.8.x

[2018-03-03 14:59] #1092 closed

[2018-03-03 15:00] wakaleo commented on #1088
Fixed in 1.9.0

[2018-03-03 15:00] #1088 closed

[2018-03-03 15:01] wakaleo commented on #1055
Closed for lack of activity.

[2018-03-03 15:01] #1055 closed

[2018-03-03 15:04] wakaleo commented on #943
Closed for lack of activity.

[2018-03-03 15:04] #943 closed

[2018-03-03 15:18] wakaleo commented on #777
Fixed/implemented in 1.9.0

[2018-03-03 15:18] #777 closed

[2018-03-03 15:43] imram commented on #1118
sure, waiting for serenity 1.9.0-rc.4 to be available in Maven center.

[2018-03-03 20:51] witoldsz commented on #1149
@wakaleo Would it be possible to create a failing integration test for this bug, within `serenity-core`?

[2018-03-03 23:15] PratapSingh09 commented on #1088
java.lang.IllegalArgumentException: Can not set net.serenitybdd.core.pages.WebElementFacade field

Below Code used:
 @AndroidFindBy(id = "com.awe.wed:id/see_more")
  private WebElementFacade seeMoreIcon;

public class MobilePageObject extends PageObject {

  public MobilePageObject(final WebDriver driver) {

    super(driver, new Predicate<PageObject>() {

      public boolean apply(PageObject pag

[2018-03-03 23:16] PratapSingh09 opened #1152 "java.lang.IllegalArgumentException: Can not set net.serenitybdd.core.pages.WebElementFacade field"
java.lang.IllegalArgumentException: Can not set net.serenitybdd.core.pages.WebElementFacade field

Below Code used:
@androidfindby(id = "com.awe.wed:id/see_more")
private WebElementFacade seeMoreIcon;

public class MobilePageObject extends PageObject {

public MobilePageObject(final WebDriver driver) {

super(driver, new Predicate<PageObject>() {

  public boolean apply(PageObject page) {

    Pag

[2018-03-03 23:24] nbarrett commented on #777
Thanks @wakaleo - I'll take a look in 1.9!

[2018-03-03 23:51] cliviu commented on #1152
HI @PratapSingh09 . It is not necessary anymore to use the MobilePageObject. Use directly the PageObject.

[2018-03-04 08:45] wakaleo commented on #1152
In addition, you will need to upgrade to at least 1.8.x.

[2018-03-04 09:59] wakaleo commented on #1149
Certainly, be my guest!

[2018-03-04 21:34] imram commented on #1118
I tested my sample repo(provided in description) against 1.9.0(I don't see 1.9.0-rc4 in maveb center), it is still failing as I have reported. Let me know where is 1.9.0-rc4..

[2018-03-05 03:44] #1118 closed

[2018-03-05 10:14] asvdw commented on #1092
I still have to test "in real life" but my tests now pass.  Thank you !

[2018-03-05 10:54] Ajeshks2510 opened #1153 "@Title annotation not allowing to set value run-time via parameterization (Serenity Rest BDD)."
I am Running 'Rest Assured Serenity Tests' from Java in windows platform. My tests are referenced in Excel and I want to run with the value provided in 'Description'. This can be different for different tests and Iterations. When I performed the operation, it's not allowing me to access the way given below:

`public static String collectedFromExcel = "";

	@Title(value=collectedFromExcel)
	@Test

[2018-03-05 22:04] Prasannajnaeyulu opened #1154 "can't run serenity appium without .apk file"
I have an app already installed in my mobile. I just want to launch the app. and run the tests on it.
But, I am getting the following error if I ignore appium.app property from serenity.properties file

Caused by: net.thucydides.core.webdriver.UnsupportedDriverException: Could not instantiate new WebDriver instance of type class io.appium.java_client.AppiumDriver (The browser under test or path to

[2018-03-05 22:07] wakaleo commented on #1154
This is an appium usage question, not a Serenity defect - could you close it and repost the question on https://serenity-BDD.rocket.chat?

[2018-03-05 22:48] Prasannajnaeyulu opened #1155 "compatibility issues while upgrading serenity core version"
I am using serenity core 1.8.1. I am just trying to upgrade serenity-core with new version 1.8.21 to just check androidfindby annotation working with webelementfacade. But, I end up having a strange issue as follows.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-failsafe-plugin:2.19.1:integration-test (default) on project eqm-auto: Execution default of goal org.apache.maven.plugin

[2018-03-05 22:50] wakaleo commented on #1155
It’s a dependency conflict - make sure you have the latest version of everything

[2018-03-05 22:53] mugar97 commented on #785
Please, add this feature, we need it

[2018-03-05 22:55] mugar97 commented on #68
Please, add this feature, we need it too

[2018-03-05 22:55] Prasannajnaeyulu commented on #1154
I think this is possible in appium. If you don't specify the app property, It will find the installed app by its appPackage property. But, It looks like the validation on app. property seems to be mandated in serenity core as per the exception. So, Its rejecting it. Something needs to be fixed from serenity-core library so opening the issue.

[2018-03-05 22:57] wakaleo commented on #1154
Feel free to look into the code and propose a PR if you see something not behaving as it should.

[2018-03-05 23:02] Prasannajnaeyulu commented on #1154
Sure @wakaleo. Right now, I am trying to use serenity for mobile automation. But, It seems to have issues with webdriver creation and using androidfindby annotations with MobileElement, WebElementfacade etc.. So, I am bit worried is it worth use this now? Or better to stick to appium client without serenity. Looks like the appium Integration with serenity is not stable.

[2018-03-05 23:02] wakaleo commented on #1153
This is not possible with Java annotations.

[2018-03-05 23:02] #1153 closed

[2018-03-05 23:20] wakaleo commented on #1154
The appium integration is largely community supported, you should ask on Rocket Chat as there are many users who use Serenity and Appium together.

[2018-03-05 23:21] Prasannajnaeyulu commented on #1155
I have
		<serenity.version>1.8.1</serenity.version>
		<serenity.maven.version>1.8.1</serenity.maven.version>
		<serenity.cucumber.version>1.6.3</serenity.cucumber.version>

using higher serenity cucumber version is throwing some other problem

[2018-03-05 23:26] wakaleo commented on #1155
The latest versions can generally be found here: https://github.com/serenity-bdd/serenity-cucumber-starter/blob/master/pom.xml. Since this is not an issue with the Serenity code, could you please close this and repost the question on the Serenity Rocket Chat channel?

[2018-03-06 07:17] JeffGaly opened #1157 "Error customization in serenity BDD."
Any Possibilities on customizing the application and element errors in serenity along with report update of those errors ?

[2018-03-06 07:26] wakaleo commented on #1157
Since this is a question rather than a defect, could you post it on serenity-bdd.rocket.chat or StackOverflow please?

[2018-03-06 07:26] #1157 closed

[2018-03-06 08:11] JeffGaly commented on #1157
sure!

[2018-03-06 12:20] Prasannajnaeyulu commented on #1154
we can achieve this by simply setting the app property to empty value as per help received from rocket chat. Thanks for that. So, closing this issue.
webdriver.driver= appium
appium.hub = http://127.0.0.1:4723/wd/hub
appium.platformName = Android
appium.platformVersion = 5.1.1
appium.deviceName = CB51234567
**_appium.app =_**
appium.appPackage = com.sample.test.dev
appium.appActivity = com.sample.

[2018-03-06 12:20] #1154 closed

[2018-03-06 16:19] faragm commented on #962
Any update regarding this?

[2018-03-06 19:56] wakaleo commented on #962
This is obviously an important issue for you @faragm. As an open source project, there are a few ways you can accelerate bug fixes or features you or your company finds useful.  The first is to submit a PR - we are always happy to consider well written and well tested pull requests. If you do not have the time to do this (because, yes, development and bug fixes take time), please take a look at ou

[2018-03-07 07:52] BlacktoBlue opened #1158 "Serenity Runner Fails With no informative message when a blank feature file is present"
HI,

When you have a completely blank feature file the Serenity Runner fails with a null pointer exception.

[code]

[2018-03-07 08:02] BlacktoBlue opened #1159 "Serenity Aggregate generates an empty report when using a scenario outline to call 2 different methods"
HI,

If you have a scenario outline such as:
[code]

And the steps (for the When) are defined separately such as:
[code]
And
[code]

When Serenity:Aggregate runs it generates a blank report. With no Error thrown.

[2018-03-07 08:02] wakaleo commented on #1158
This is the Cucumber parser, not th Serenity code itself, so I would suggest raising an issue with the Cucumber-JVM folk.

[2018-03-07 08:02] #1158 closed

[2018-03-07 08:32] wakaleo commented on #1159
I can't reproduce this, are you sure your step definitions are correct?

[2018-03-07 10:25] LordOfYoro opened #1160 "proxy with pac file"
Hello,
I want to use a proxy with pac file because, my organization haven't got any other alternative to access internet.
We need to set up link to proxy.pac file for all browsers and we couldn't find a way to do it with serenity.
Is there any system property or serenity.property to do it ?

Thanks a lot.

[2018-03-07 10:36] wakaleo commented on #1160
You will need to code this yourself, possibly  via a custom driver

[2018-03-07 10:36] #1160 closed

[2018-03-07 11:36] JeffGaly commented on #1032
You got any solution for this?

[2018-03-07 13:47] asvdw commented on #1032
* copy folders 'freemarker' and 'report-resources' from serenity-report module to your project (src/main/resources)
* alter them as you wish...
* update your pom like this. There are two pieces to change:

[code]
and

[code]

You need to include your project as a dependency for Maven plugin to access to resources you have put in the main folder. And exclude the one provided by Serenity for both th

[2018-03-07 16:15] ricardorlg commented on #1155
@Prasannajnaeyulu with last version serenity and appium works without problems, in rocket chat you can find posts about that, this can be closed.

[2018-03-08 06:14] vikramvi opened #1161 "com.google.common.collect.Maps$TransformedEntriesMap cannot be cast to java.lang.String"
Steps:
1. Trying to run appium scripts on saucelabs
2. Script works properly on local setup
3. pom.xml

[code]

Actual Result:
1.  [main] ERROR net.serenitybdd.core.Serenity - com.google.common.collect.Maps$TransformedEntriesMap cannot be cast to java.lang.String

[code]

[2018-03-08 06:27] wakaleo commented on #1161
Looks like a conflict between Selenium (3.10.0 is used in the latest version of Serenity) and Appium.

[2018-03-08 06:37] vikramvi commented on #1161
Updated `appium java client` version to
`appiumJavaClientVersion = 6.0.0-BETA4` under `gradle.properties` but still same issue.

Shall I report this issue under appium java client ?

[2018-03-08 06:38] wakaleo commented on #1161
I think so, it is in the Appium code base

[2018-03-08 06:42] vikramvi commented on #1161
I checked saucelabs appium server logs and found
`2018-03-08 06:34:54:559 - [Appium] Welcome to Appium v1.6.4`

Let me find out why saucelabs using old version of appium server and is there any way to configure appium server version

[2018-03-08 07:04] vikramvi commented on #1161
Got it working with `appium.appiumVersion = 1.7.2` adding to `serenity.properties`.

Closing as issue is not related to serenity.

[2018-03-08 07:04] #1161 closed

[2018-03-08 14:53] YiannisDermitzakis commented on #1106
I'm also seeing this issue. Could you briefly explain how you solved it?

[2018-03-09 05:52] vikramvi opened #1163 "Question: Is it possible to manage iOS & android caps in separate serenity.properties files"
- Current setup has got single serenity.properties file with 2 set of values for iOS and Android
- Before run I need to comment either of these 2 set of caps manually
- Is there any way to keep both platform caps and switch to tell which one can be used for particular test run ?
- Or is it possible to maintain 2 separate serenity.properties so that in saucelabs both test cases can be run in parall

[2018-03-09 11:33] wakaleo commented on #1163
If you only use one set of properties for any given test run, you could use Maven profiles for this.

[2018-03-09 11:34] wakaleo commented on #1155
Thanks @ricardorlg

[2018-03-09 11:34] #1155 closed

[2018-03-09 13:27] ExcessWarriors commented on #1053
@cliviu : I am not using any custom implementation of the DriverSource. Anyone is working on this issue anymore?

[2018-03-09 13:34] cliviu commented on #1053
hi @ExcessWarriors , can you describe what your problem is ?  Have you tried my POC  (https://github.com/cliviu/serenity-appium-hybrid-poc)?

[2018-03-09 13:44] cliviu commented on #1053
@CamiloCode, I've tried with your implementation of the DriverSource but the tests are running. I'm not sure what the problem is.

[2018-03-09 13:57] vikramvi commented on #1163
Thanks @wakaleo do you have any example about Maven profiles ? With maven profile can I keep both set of properties, it seems interesting solution to implement. Thanks in advance.

[2018-03-09 15:41] ExcessWarriors commented on #1053
hi @cliviu , I am not using your POC project but when I run tests with serenity-core version 1.7.5 the tests are running fine but with 1.8.22-rc.2, I am getting below error :

net.serenitybdd.core.exceptions.StepInitialisationException: Failed to create step library for GenericStepDefinitions:Failed to create step library for Pages:Can not set io.appium.java_client.MobileElement field nl.essent.au

[2018-03-09 15:44] ExcessWarriors commented on #1053
hi @cliviu , Here is the full trace

net.serenitybdd.core.exceptions.StepInitialisationException: Failed to create step library for GenericStepDefinitions:Failed to create step library for Pages:Can not set io.appium.java_client.MobileElement field nl.essent.automation.pages.forgot_login.ForgotPasswordSuccessPage.forgotPasswordSuccess to com.sun.proxy.$Proxy29
        at net.thucydides.core.steps.